---
title: Icons
desc: Icons for Fajny-CSS
permalink: /categories/icons/
layout: all
category: icons
keywords: 
 - icons
 - icon font
---

<div class="col-12">
    <p>
        Fanjy CSS uses its own icon font. Most of icons have two weights:
        regular and solid. When using them, try to stick to one weight.
    </p>
</div>

<div class="col-12">
    <p>
        If you want to use this icon font add this in the <code>head</code> of
        your HTML:
    </p>
</div>

<div class="col-12">
    <pre><code class="html">{{ site.icons_local }}</code></pre>
</div>

<div class="col-12">
    <p>or via CDN</p>
</div>

<div class="col-12">
    <pre><code class="html">{{ site.icons_cdn }}</code></pre>
</div>

<div class="col-12">
    <h2>How to use</h2>
</div>

<div class="col-12">
    <h4>In the HTML</h4>
</div>

<div class="col-12">
    <p>Copy the code and insert it in your HTML page.</p>
</div>

<div class="col-12">
    <h5>Example</h5>
</div>

<div class="col-12">
    <pre><code class="html">&lt;i class="icon icon-user-regular"&gt;&lt;/i&gt;</code></pre>
</div>

<div class="col-12">
    <h4>In the SCSS</h4>
</div>

<div class="col-12">
    <p>You can use mixins to include your icon.</p>
</div>

<div class="col-12">
    <h5>Example</h5>
</div>

<div class="col-12">
    <pre><code class="scss">@include icon("\unicode")</code></pre>
</div>

<div class="col-12">
    <h4>In the CSS</h4>
</div>

<div class="col-12">
    <p>Copy this in your CSS page:</p>
</div>

<div class="col-12">
    <pre><code class="css">font-family: "fajny-css-icons";
content: "\unicode";</code></pre>
</div>

<div class="col-12">
    <h2>Search</h2>
</div>

<div class="col-12">
    <div class="container-input-text">
        <input
            type="text"
            placeholder="Type here..."
            id="myInput"
            onkeyup="myFunction()"
        />
    </div>
</div>

<div class="col-12">
    <h2>Filters</h2>
</div>

<div class="col-12">
    <ul class="filters">
        <li>
            <div class="radio-container">
                <input
                    type="radio"
                    id="all"
                    name="filters"
                    onclick="filterSelection('all')"
                    checked
                />
                <label for="all" class="radio-label"></label>
                <label for="all" class="text-label">All</label>
            </div>
        </li>

        {% assign icon_categories = site.icon_categories | sort: "order" %}
        {% for item in icon_categories %}
        <li>
            <div class="radio-container">
                <input
                    type="radio"
                    id="{{ item.short_name }}"
                    name="filters"
                    onclick="filterSelection('{{ item.short_name }}')"
                />
                <label for="{{ item.short_name }}" class="radio-label"></label>
                <label for="{{ item.short_name }}" class="text-label" >
                    {{ item.name }}
                </label>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>

<div class="col-12">
    <ul id="myUL" class="grid list-icons">
        {% for icon in site.icons %}
        <li class="col-3 filterDiv icon-list {{ icon.icon_category }}">
            <a href="{{icon.url}}">
                
                {% if icon.unicode_regular %}
                <i class="icon icon-{{ icon.title | downcase | replace: ' ', '-' }}-regular"></i>
                {% elsif icon.unicode_solid %}
                <i class="icon icon-{{ icon.title | downcase | replace: ' ', '-' }}-solid"></i>
                {% elsif icon.unicode_brand %}
                <i class="icon icon-{{ icon.title | downcase | replace: ' ', '-' }}-brand"></i>
                {% endif %}
                <span>{{ icon.title | downcase | replace: " ", "-" }}</span>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>