---
title: Home
desc:
baseline: The last SCSS Framework you will ever need!
link_start: Start using Fajny CSS
cards:
    - title: Built with SCSS
      image: sass-logo.svg
      text: This Framework is entirely built in SCSS, to ease the development!
      link: https://sass-lang.com/
      link_text: Learn More about SCSS
      external: true
    - title: Copy Figma file
      image: figma-logo.svg
      text: You can also use Fajny CSS in your mockups, just download the Figma file and use it as library!
      link: https://www.figma.com/file/mXSkQtWqgcexCNypVvJ9FG/Fajny-CSS-Components-library/duplicate
      link_text: Download file
      external: true
    - title: Totally Free
      image: logo-free-license.svg
      text: You can use everything for free, without having to credit us!
      link: /getting-started/
      link_text: Start using Fajny CSS
      external: false
---

<div class="cover cover-center cover-home">
    <picture>
        <source media="(max-width: 600px)" srcset="/assets/images/s-cover-parallax.jpg" />
        <source media="(max-width: 1024px)" srcset="/assets/images/m-cover-parallax.jpg" />
        <img src="/assets/images/l-cover-parallax.jpg" alt="Cover" />
    </picture>

    <div class="content">
        <img src="/assets/images/logo-fajny-css-white.svg" alt="Logo Fajny CSS" />
        <h1 class="display">{{ page.baseline }}</h1>

        <div class="buttons">
            <a href="/fajny-css.zip" class="btn btn-white btn-background btn-icon btn-big btn-icon-right">
                Download
                <i class="icon icon-download-solid"></i>
            </a>

            <a href="https://github.com/fajny-css/fajny-css" class="btn btn-white btn-outline btn-icon btn-big btn-icon-right">
                Check on GitHub
                <i class="icon icon-github-brand"></i>
            </a>
        </div>

        <h5 class="display">
            <a href="/getting-started/">{{ page.link_start }}</a>
        </h5>
    </div>
</div>

<div class="wrapper">
    <main class="container">
        <div class="grid grid-home">
            <div class="col-12">
                <h2 class="display">Install Fajny in your project</h2>
            </div>

            <div class="col-12">
                <h4>Via CDN</h4>

{% include code.html language="html" content="&lt;!-- Head --&gt;
&lt;link rel=&quot;stylesheet&quot; href=&quot;https://unpkg.com/fajny-css/css/fajny.min.css&quot; type=&quot;text/css&quot; /&gt;
&lt;link rel=&quot;stylesheet&quot; href=&quot;https://unpkg.com/fajny-css-icons/css/fajny-icons.min.css&quot; type=&quot;text/css&quot; /&gt;
&lt;!-- Body --&gt;
&lt;script src=&quot;https://unpkg.com/fajny-css/js/script.min.js&quot;&gt;&lt;/script&gt;"
%}
            </div>

            <div class="col-12">
                <h4>Locally</h4>
                {% include code.html language="html" content="&lt;!-- Head --&gt;
&lt;link rel=&quot;stylesheet&quot; href=&quot;path/to/css/fajny.min.css&quot; type=&quot;text/css&quot; /&gt;
&lt;link rel=&quot;stylesheet&quot; href=&quot;path/to/css/fajny-icons.min.css&quot; type=&quot;text/css&quot; /&gt;
&lt;!-- Body --&gt;
&lt;script src=&quot;/path/to/js/script.min.js&quot;&gt;&lt;/script&gt;" %}
            </div>

            <div class="col-12">
                <h2 class="display">Why choosing Fajny CSS?</h2>
            </div>

            {% for card in page.cards %}
            <div class="col-4 card action-card card-home">
                <img src="/assets/images/{{ card.image }}" alt="{{ card.image | remove: '.svg' | replace: '-', ' ' | capitalize }}">

                <div class="content">
                    <h4>{{ card.title }}</h4>
                    <p>{{ card.text }}</p>
                    <div class="button">
                        <a href="{{ card.link }}" class="btn btn-primary" {% if card.external == true %}target="_blank"{% endif %}>
                            {{ card.link_text }}
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% include footer.html %}
    </main>
</div>
