<div class="grid show-icon-container">
    <div class="col-6 show-icon">
        <i class="icon icon-{{ page.title | downcase | replace: ' ', '-' }}-{{ include.weight }}"></i>
    </div>

    <div class="col-6">
        <div class="grid">
            <div class="col-12">
                <h5 class="no-marg">HTML</h5>
            </div>

            <div class="col-12">
                <pre><code class="html" id="code-html-{{ include.weight }}">&lt;i class=&quot;icon icon-{{ page.title | downcase | replace: ' ', '-' }}-{{ include.weight }}&quot;&gt;&lt;/i&gt;</code></pre>
            </div>

            <div class="col-12">
                <button class="btn btn-primary btn-background copy" data-clipboard-target="#code-html-{{ include.weight }}">Copy code</button>
            </div>

            <div class="col-12">
                <h5 class="no-marg">Unicode</h5>
            </div>

            <div class="col-12">
                {% if include.weight == "regular" %}
                <pre><code class="css" id="code-css-regular">&quot;{{ page.unicode_regular }}&quot;</code></pre>
                {% elsif include.weight == "solid" %}
                <pre><code class="css" id="code-css-solid">&quot;{{ page.unicode_solid }}&quot;</code></pre>
                {% endif %}
            </div>

            <div class="col-12">
                <button class="btn btn-primary btn-background copy" data-clipboard-target="#code-css-{{ include.weight }}">Copy code</button>
            </div>

            <div class="col-12">
                <a href="/assets/images/icons/{{ page.title | downcase | replace: ' ', '-' }}-{{ include.weight }}.svg" class="btn btn-primary btn-background" download>Download SVG</a>
            </div>
        </div>
    </div>
</div>