<footer>
     <hr />
     <div class="footer-container">
          <div class="left">
               <p>
                    <div>V1.0</div>
                    <div>
                         <a href="https://github.com/JulSeb42/fajny-css" target="_blank"><i class="icon icon-github-brand"></i></a>
                          <a href="mailto:julien.sebag@me.com"><i class="icon icon-mail-bold"></i></a>
                          <a href="/fajny-css.zip" download=""><i class="icon icon-download-solid"></i></a>
                    </div>
               </p>
          </div>

          <div class="right">
               <p>
                    Pictures from <a href="https://unsplash.com/" target="_blank">Unsplash</a>, videos from <a href="https://mixkit.co/" target="_blank">Mixkit</a>
                    <br />
                    Made by <a href="https://www.julien-sebag.fr/" target="_blank">Julien Sebag</a> | 2019
               </p>
          </div>
     </div>
</footer>