<footer class="footer-demo">
    <ul class="links">
        <li><p>V2.0</p></li>
        {% for item in site.data.social %}
        <li>
            <a
                href="{{ item.link }}"
                {% if item.name == "download" %}
                download
                {% elsif item.name == "github" %}
                target="_blank"
                {% endif %}
            >
                <i class="icon icon-{{ item.icon }}"></i>
            </a>
        </li>
        {% endfor %}
    </ul>

    <p>{{ site.text_footer }}</p>
</footer>
