<header class="nav-template">
     <nav>
          <div class="burger" onclick="openNav(this)">
               <span></span>
               <span></span>
               <span></span>
          </div>

          <ul>
               {% for item in site.data.nav %}
               <li>
                    <a href="{{ item.link }}" {% if page.url == item.link elseif page.url == "/" %}class="active" {% endif %}>{{ item.name }}</a>
               </li>
               {% endfor %}

               <li class="social-links">
                    {% for item in site.data.globals %}
                    {% if item.name == "email" %}
                    <a href="mailto:{{item.link}}"><i class="icon icon-{{item.icon}}"></i></a>
                    {% elsif item.name == "github" %}
                    <a href="{{item.link}}" target="_blank"><i class="icon icon-{{item.icon}}"></i></a>
                    {% endif %}
                    {% endfor %}
               </li>
               <li class="download">
                    {% for item in site.data.globals %}
                    {% if item.name == "download" %}
                    <a href="/{{item.link}}" class="btn btn-pill btn-white btn-large" download>Download <i class="icon icon-{{item.icon}}"></i></a>
                    {% endif %}
                    {% endfor %}
               </li>
          </ul>

          <div class="logo">
               {% for item in site.data.globals %}
               {% if item.name == "logo_white" %}
               <a href="/"><img src="/assets/images/{{item.image}}" alt="Logo Fajny CSS"></a>
               {% endif %}
               {% endfor %}
          </div>
     </nav>
</header>