<header class="nav-demo">
    <a href="/" class="logo"><img src="/assets/images/{{ site.logo_white }}" alt="Logo Fajny CSS"></a>

    <nav>
        <ul class="nav">
            {% for item in site.data.nav %}
            <li>
                <a href="{{ item.url }}" {% if page.url == item.url or page.category == item.category %}class="active"{% endif %}>{{ item.name }}</a>
            </li>
            {% endfor %}
        </ul>
        
        <ul class="social">
            <li>
                <p>V2.0</p>
            </li>
            {% for item in site.data.social %}
            <li>
                <a href="{{ item.link }}" {% if item.name == "download" %} download {% elsif item.name == "github" %}
                    target="_blank" {% endif %}>
                    <i class="icon icon-{{ item.icon }}"></i>
                </a>
            </li>
            {% endfor %}
        </ul>
    </nav>
</header>

<div class="nav-mobile">
    <a href="/" class="logo"><img src="/assets/images/{{ site.logo_white }}" alt="Logo Fajny CSS"></a>
    
    <div class="hamburger" onclick="openNav(this)">
        <span></span>
        <span></span>
        <span></span>
    </div>

    <div class="nav-mobile-container">
        <ul class="nav">
            {% for item in site.data.nav %}
            <li>
                <a href="{{ item.url }}" {% if page.url == item.url or page.category == item.category %}class="active" {% endif %}>{{ item.name }}</a>
            </li>
            {% endfor %}
        </ul>
        
        <ul class="social">
            <li>
                <p>V2.0</p>
            </li>
            {% for item in site.data.social %}
            <li>
                <a href="{{ item.link }}" {% if item.name == "download" %} download {% elsif item.name == "github" %}
                    target="_blank" {% endif %}>
                    <i class="icon icon-{{ item.icon }}"></i>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>