<div class="col-6">
    <div class="grid show-icon-container">
        <div class="col-6 show-icon">
            <i class="icon icon-{{ page.title | downcase | replace: ' ', '-' }}-solid"></i>
        </div>

        <div class="col-6">
            <div class="grid">
                <div class="col-12">
                    <h5 class="no-marg">HTML</h5>
                </div>

                <div class="col-12">
                    <pre><code class="html" id="code-html-solid">&lt;i class=&quot;icon icon-{{ page.title | downcase | replace: ' ', '-' }}-solid&quot;&gt;&lt;/i&gt;</code></pre>
                </div>

                <div class="col-12">
                    <button class="btn btn-primary btn-background copy" data-clipboard-target="#code-html-solid">
                        Copy code
                    </button>
                </div>

                <div class="col-12">
                    <h5 class="no-marg">Unicode</h5>
                </div>

                <div class="col-12">
                    <pre><code class="css" id="code-css-solid">&quot;{{ page.unicode_solid }}&quot;</code></pre>
                </div>

                <div class="col-12">
                    <button class="btn btn-primary btn-background copy" data-clipboard-target="#code-css-solid">
                        Copy code
                    </button>
                </div>

                <div class="col-12">
                    <a href="/assets/images/icons/{{ page.title }}-solid.svg" class="btn btn-primary btn-background" download>Download SVG</a>
                </div>
            </div>
        </div>
    </div>
</div>
