<section id="tab-{{ include.weight }}" class="tab-panel">
    <div class="col-6-12 col-icon">
        <i class="icon icon-{{ page.title | downcase | replace: ' ', '-' }}-{{ include.weight }}"></i>
    </div>

    <div class="col-6-12 col-icon">
        <h5>HTML</h5>
        <div class="icon-code-container">
            <pre><code class="html" id="code-html-{{ include.weight }}">&lt;i class=&quot;icon icon-{{ page.title | downcase | replace: ' ', '-' }}-{{ include.weight }}&quot;&gt;&lt;/i&gt;</code></pre>
            <button class="copy" data-clipboard-target="#code-html-{{ include.weight }}">
                <i class="icon icon-copy-solid"></i> Copy code
            </button>
        </div>


        <h5>Unicode</h5>
        <div class="icon-code-container">
            {% if include.weight == "regular" %}
            <pre><code class="scss" id="code-css-regular">content: "{{ page.unicode_regular }}";</code></pre>
            <button class="copy" data-clipboard-target="#code-css-{{ include.weight }}">
                <i class='icon icon-copy-solid'></i> Copy code
            </button>
            {% elsif include.weight == "solid" %}
            <pre><code class="scss" id="code-css-solid">content: "{{ page.unicode_solid }}";</code></pre>
            <button class="copy" data-clipboard-target="#code-css-{{ include.weight }}">
                <i class='icon icon-copy-solid'></i> Copy code
            </button>
            {% elsif include.weight == "brand" %}
            <pre><code class="scss" id="code-css-brand">content: "{{ page.unicode_brand }}";</code></pre>
            <button class="copy" data-clipboard-target="#code-css-{{ include.weight }}">
                <i class='icon icon-copy-solid'></i> Copy code
            </button>
            {% endif %}
        </div>

        <a href="/assets/images/icons/{{ page.title }}-{{ include.weight }}.svg" class="btn btn-rectangle btn-primary" download><i class='icon icon-download-solid'></i> Download SVG</a>
    </div>
</section>