@import "mixins";
@import "colors";
@import "fonts";

@import "navigation";
@import "helpers";

@import "code-container";

.container {
	padding: 50px 2% 0 2%;
}

.col-result {
	background: #1b4568;
	border-radius: 5px;
	text-align: center;
	color: white;
	padding: 10px 0;
}

.footer-container {
	width: 100%;
	float: left;
	display: flex;
	align-items: center;
	justify-content: space-between;

	.left {
		display: flex;
		align-items: center;
		flex-wrap: nowrap;

		div {
			width: auto;
			float: left;
			display: flex;
			justify-content: flex-start;
			flex-wrap: nowrap;

			a {
				float: left;
				margin-left: 10px;
			}
		}
	}

	.right {
		text-align: right;

		@media only screen and (max-width: 600px) {
			text-align: center !important;
		}
	}
}

/*============================================================= Home =============================================================*/

.cover-parallax,
.container-parallax,
.container {
	width: calc(100% - 100px);
	margin-left: 100px;
	max-width: inherit;

	@media only screen and (max-width: 600px) {
		width: 100%;
		margin-left: 0;
	}
}

@media only screen and (max-width: 600px) {
	#home h1.display {
		font-size: 35px;
	}
}

.container-parallax .container {
	width: 90%;
	margin: 0 auto;
}

.cover-parallax {
	.title-parallax {
		text-align: center;
		width: 100%;

		img {
			width: 300px;
			margin-bottom: 50px;

			@media only screen and (max-width: 600px) {
				width: 100%;
			}
		}

		.display {
			font-size: 55px;
			margin-bottom: 50px;
		}

		.buttons {
			display: flex;
			justify-content: center;
			float: left;
			width: 100%;

			@media only screen and (max-width: 600px) {
				flex-wrap: wrap;
				text-align: center;

				.btn {
					flex-grow: 1;
					align-self: center;
					width: 100% !important;

					&:first-child {
						margin-bottom: 10px;
						margin-right: 0 !important;
					}
				}
			}

			.btn:first-child {
				margin-right: 20px;
			}
		}
	}
}

.list-cards-home {
	@extend %ulNone;
	@include flexbox(flex-start, space-between, nowrap);
	width: 100%;
	float: left;

	li.cards {
		min-height: 400px;
		@include flexbox(flex-start, flex-start, wrap);
		align-content: flex-start;
		margin-bottom: 20px;
		width: 19%;
		
		.cards-image {
			height: 210px;
			background-size: contain !important;
			background-position: center !important;
			background-repeat: no-repeat !important;
			width: 90%;
			margin: 10px 5%;
		}

		p {
			line-height: 25px;
			min-height: 75px;
		}

		.cards-content p {
			-webkit-box-orient: inherit;
			display: inherit;
			-webkit-line-clamp: inherit;
			max-height: inherit;
		}

		@media only screen and (max-width: 768px) {
			width: 47.5%;
		}

		@media only screen and (max-width: 600px) {
			width: 100%;
		}
	}
}

/*============================================================= Components list =============================================================*/

a.link-back {
	float: left;
	clear: both;
	margin-bottom: 20px;
	@include flexbox(center, flex-start, nowrap);

	i {
		margin-right: 5px;
		font-size: $font-size - 4px;
	}
}

.components-list {
	width: 100%;
	float: left;
	@extend %ulNone;

	li {
		width: 23.8%;
		float: left;
		margin-right: 1.6%;
		margin-bottom: 20px;

		@media only screen and (max-width: 600px) {
			width: 100% !important;
			margin-right: 0 !important;
		}

		&:nth-child(4n + 0) {
			margin-right: 0;
		}

		.btn {
			border-radius: 5px;
			@include shadow-bottom($primary);
		}
	}
}

.list-colors {
	@extend %ulNone;

	li {
		width: 24%;
		float: left;
		// margin-right: 10px;
		color: $white;
		padding: 10px;
		margin-bottom: 10px;
		height: 150px;
		@include flexbox(center, center, wrap);
		margin-right: 1% !important;

		&:nth-child(4n + 0) {
			margin-right: 0;
		}
		
		&.bg-white {
			color: $primary;
		}

		@media only screen and (max-width: 600px) {
			width: 100% !important;
			margin-right: 0;
		}
	}
}

/*============================================================= Components details =============================================================*/

.results {
	width: 100%;
	float: left;
	background: $white;
	@include shadow-bottom($gray);
	border-radius: 5px;
	overflow: hidden;
	margin: 0 {
		top: 0;
		bottom: 0;
	};

	.list-results {
		width: 100%;
		float: left;
		@extend %ulNone;
		padding: 10px;

		li {
			float: left;
			margin-right: 10px;

			&:last-child {
				margin-right: 0;
               }
          }
          
          .breadcrumbs li {
               margin-right: 0;
          }
	}

	pre {
		margin-bottom: 0;
		margin-top: 0;
	}
}

.results-marg {
	margin: {
		top: $margin;
		bottom: $margin;
	}
}

/*============================================================= Icons list =============================================================*/

.filterDiv {
	display: none;

	&.show {
		display: block;
	}
}

.filters {
	@include flexbox(center, flex-start, wrap);
	margin-bottom: 20px;

	.radio-container {
		margin-right: 20px;

		@media only screen and (max-width: 600px) {
			width: 100% !important;
			margin-right: 0 !important;
		}

		&:last-child {
			margin-right: 0;
		}

		.text-label {
			text-transform: capitalize;
		}
	}
}

.list-icons {
	width: 100%;
	float: left;
	@extend %ulNone;

	li {
		width: 23.8%;
		float: left;
		margin-right: 1.6%;
		background: $white;
		@include shadow-bottom($gray);
		border-radius: 5px;
		overflow: hidden;
		padding: 10px;
		margin-bottom: 20px;
		text-align: center;
		min-height: 200px;
		align-content: center;
		align-items: center;
		flex-wrap: wrap;

		@media only screen and (max-width: 768px) {
			width: 49.2%;

			&.item2 {
				margin-right: 0;
			}

			&.item4 {
				margin-right: 1.6%;
			}
		}

		@media only screen and (max-width: 600px) {
			width: 100%;
			margin-right: 0;
		}

		&.item4 {
			margin-right: 0;
		}

		span {
			font-weight: 700;
			width: 100%;
			float: left;
		}

		.code {
			font-size: 12px;
			font-family: monaco, Consolas, "Lucida Console";
		}

		i {
			width: 100%;
			font-size: 32px;
			text-align: center;
		}

		.btn {
			clear: both !important;
			float: none;

			i {
				font-size: $icon-font-body;
				width: auto;
			}
		}

		i,
		span,
		p,
		.btn-container {
			width: 100%;
			text-align: center;
		}

		.btn-container {
			width: 100%;
			float: left;
			@include flexbox(center, center, nowrap);
		}
	}
}

.button-container {
	width: 100%;
	float: left;
	@include flexbox(center, center, nowrap);
}

.visually-hidden {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}

.copy {
	cursor: pointer;
}

pre code pre {
	margin-top: 0 !important;
	margin-left: 0 !important;
	margin-bottom: 0 !important;
	margin-right: 0 !important;
	font-size: 16px;
}

.list-helpers {
	@extend %ulNone;

	li {
		width: 23.8%;
		float: left;
		margin-right: 1.6%;

		&:nth-child(4n + 0) {
			margin-right: 0;
		}

		@media only screen and (max-width: 600px) {
			width: 100%;
			margin-right: 0;
			margin-bottom: 20px;
		}
	}
}

.fonts-body {
	em,
	strong,
	a {
		float: left;
		clear: both;
		margin-bottom: 20px;
		line-height: 25px;
		margin-top: 16px;
		margin-bottom: 25px;
	}
}



.unordered {
	width: 100%;
	float: left;

	li {
		float: none !important;
	}
}