---
title: Variables
layout: components-alt
category: helpers
intro: |-
    To speed up the development process Fajny CSS uses a lot of variables. 
files:
    - variables
---

<div class="col-12">
    <h2>Colors variables</h2>
    <p>If you want to change a color, replace the value by its RGB color.</p>
</div>

<div class="col-12">
    <div class="demo-components demo-show-table">
        <div class="grid">
            <div class="col-4">
                <h6>SCSS</h6>
            </div>

            <div class="col-4">
                <h6>CSS</h6>
            </div>

            <div class="col-4">
                <h6>Value</h6>
            </div>

            {% for item in site.data.variable-colors %}
            <div class="col-4">
                <p>${{ item.name }}</p>
            </div>

            <div class="col-4">
                <p>var(--color-{{ item.name }})</p>
            </div>

            <div class="col-4">
                <p>{{ item.content }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="col-12">
    <h2>Fonts variables</h2>
</div>

<div class="col-12">
    <div class="demo-components demo-show-table">
        <div class="grid">
            <div class="col-4">
                <h6>SCSS</h6>
            </div>

            <div class="col-4">
                <h6>CSS</h6>
            </div>

            <div class="col-4">
                <h6>Value</h6>
            </div>

            {% for item in site.data.variable-fonts %}
            <div class="col-4">
                <p>${{ item.name }}</p>
            </div>

            <div class="col-4">
                <p>var(--{{ item.name }})</p>
            </div>

            <div class="col-4">
                <p>{{ item.content }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="col-12">
    <h2>Margins variables</h2>
</div>

<div class="col-12">
    <div class="demo-components demo-show-table">
        <div class="grid">
            <div class="col-4">
                <h6>SCSS</h6>
            </div>

            <div class="col-4">
                <h6>CSS</h6>
            </div>

            <div class="col-4">
                <h6>Value</h6>
            </div>

            {% for item in site.data.variable-margins %}
            <div class="col-4">
                <p>$margin-{{ item.name }}</p>
            </div>

            <div class="col-4">
                <p>var(--margin-{{ item.name }})</p>
            </div>

            <div class="col-4">
                <p>{{ item.content }}px</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="col-12">
    <h2>Shadows variables</h2>
</div>

<div class="col-12">
    <div class="demo-components demo-show-table">
        <div class="grid">
            <div class="col-4">
                <h6>SCSS</h6>
            </div>

            <div class="col-4">
                <h6>CSS</h6>
            </div>

            <div class="col-4">
                <h6>Value</h6>
            </div>

            {% for item in site.data.variable-shadows %}
            <div class="col-4">
                <p>$shadow-{{ item.name }}</p>
            </div>

            <div class="col-4">
                <p>var(--shadow-{{ item.name }})</p>
            </div>

            <div class="col-4">
                <p>{{ item.content }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="col-12">
    <h2>Border radiuses variables</h2>
</div>

<div class="col-12">
    <div class="demo-components demo-show-table">
        <div class="grid">
            <div class="col-4">
                <h6>SCSS</h6>
            </div>

            <div class="col-4">
                <h6>CSS</h6>
            </div>

            <div class="col-4">
                <h6>Value</h6>
            </div>

            {% for item in site.data.variable-radiuses %}
            <div class="col-4">
                <p>$radius-{{ item.name }}</p>
            </div>

            <div class="col-4">
                <p>var(--radius-{{ item.name }})</p>
            </div>

            <div class="col-4">
                <p>{{ item.content }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="col-12">
    <h2>Container width and related variables</h2>
</div>

<div class="col-12">
    <div class="demo-components demo-show-table">
        <div class="grid">
            <div class="col-4">
                <h6>SCSS</h6>
            </div>

            <div class="col-4">
                <h6>CSS</h6>
            </div>

            <div class="col-4">
                <h6>Value</h6>
            </div>

            {% for item in site.data.variable-container %}
            <div class="col-4">
                <p>$container-{{ item.name }}</p>
            </div>

            <div class="col-4">
                <p>var(--container-{{ item.name }})</p>
            </div>

            <div class="col-4">
                <p>{{ item.content }}%</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>