---
layout: all
---

<div class="col-12">
    {{ page.intro | markdownify }}
</div>

{% if page.files.size > 1 %}
<div class="col-12">
    <h2>Files to include</h2>
</div>
{% for file in page.files %}
<div class="col-12">
    <pre><code class="scss">@import "{{ file }}";</code></pre>
</div>
{% endfor %}
{% else %}
<div class="col-12">
    <h2>File to include</h2>
</div>
{% for file in page.files %}
<div class="col-12">
    <pre><code class="scss">@import "{{ file }}";</code></pre>
</div>
{% endfor %}
{% endif %}

{{ content }}