<!doctype html>
<html>
     <head>
          <meta charset="UTF-8">
          <title>{{ page.title }} | Fajny CSS</title>
          <meta content="IE=edge" http-equiv="X-UA-Compatible">
          <meta content="width=device-width, initial-scale=1" name="viewport">
          <meta name="description" content="{{ page.desc }}">
          <meta name="author" content="Julien Sebag">
          <meta property="og:title" content="{{ page.title }}" />
          <meta property="og:type" content="framework.documentation" />
          <meta property="og:url" content="{{ page.url }}" />
          <meta property="og:image" content="/assets/images/og_cover.png" />
          <meta property="og:site_name" content="Fajny CSS" />
          <meta property="og:locale" content="en_GB" />
          <link href="/assets/images/favicon.png" rel="shortcut icon">

          <!-- CSS -->
          <link rel="stylesheet" href="https://unpkg.com/fajny-css/css/fajny.min.css" />
          <link rel="stylesheet" href="https://unpkg.com/fajny-css-icons/css/fajny-icons.min.css" />
          <link rel="stylesheet" href="/assets/css/template.css">
          
          <!-- JS -->
          <script src="/assets/js/highlight.pack.js"></script>

          <!-- Additional CSS -->
          <style>{{ page.additional-css }}</style>
     </head>

     <body>
         {% include header.html %}

         {{content}}

         <script src="/assets/js/clipboard.min.js"></script>
          <script>
               //Clipboard
               new ClipboardJS(".copy");
          </script>
          <script src="/assets/js/load-more.js"></script>
          <script src="/assets/js/script.js"></script>
     </body>
</html>