<!doctype html>
<html>
     <head>
          <meta charset="UTF-8">
          <title>{{ page.title }} | Fajny CSS</title>
          <meta content="IE=edge" http-equiv="X-UA-Compatible">
          <meta content="width=device-width, initial-scale=1" name="viewport">
          <meta content="{{page.desc}}" name="description">
          <meta content="Julien Sebag" name="author">
          <link href="assets/images/favicon.png" rel="shortcut icon">

          <!-- Styles -->
          <link href="assets/css/fajny.min.css" rel="stylesheet" />
          <link href="assets/css/fajny-icons.min.css" rel="stylesheet" />
          <link rel="stylesheet" href="assets/css/template.min.css" />

          <!-- JS -->
          <script src="assets/js/highlight.pack.js"></script>
          <script src="assets/js/includes.js"></script>
     </head>

     <body>
          {% include header.html %}
          {{ content }}

          <script src="assets/js/clipboard.min.js"></script>
          <script>
               //Clipboard
               new ClipboardJS(".copy");
          </script>
          <script src="assets/js/script.min.js"></script>
     </body>
</html>