---
layout: default
---

<div class="cover-parallax" id="home">
	<div class="cover-parallax-img" style="background: url(/assets/images/{{page.cover}})"></div>
	<div class="title-parallax">
          {% for item in site.data.globals %}
               {% if item.name == "logo_white" %}
                    <img src="assets/images/{{ item.image }}" alt="Logo Fajny CSS" />
               {% endif %}
          {% endfor %}
		<h1 class="display">{{ page.headline }}</h1>
		<div class="buttons">
               {% for item in site.data.globals %}
                    {% if item.name == "download" %}
                    <a href="{{ item.link }}" class="btn btn-pill btn-white btn-large" download>
                         Download <i class="icon icon-{{ item.icon }}"></i>
                    </a>
                    {% elsif item.name == "github" %}
                    <a href="{{ item.link }}" class="btn btn-pill btn-outline btn-white btn-large" target="_blank">
                         Check on GitHub <i class="icon icon-{{ item.icon }}"></i>
                    </a>
                    {% endif %}
               {% endfor %}
		</div>
	</div>
</div>

<div class="container-parallax">
	<main class="container no-padd-bottom">
		<section>
               <h2 class="display">{{ page.title_install }}</h2>
               <h3>Via CDN</h3>
               {% include links/link_cdn_all.html %}
               
               <h3>Locally</h3>
               {% include links/link_local_all.html %}
		</section>

          <section>
               <h2 class="display">{{page.title_why}}</h2>

               <ul class="list-cards-home">
                    {% for card in page.cards %}
                    <li class="cards">
                         <div class="cards-image" style="background: url(/assets/images/{{card.image}})"></div>
                         <div class="cards-content">
                              <h4>{{card.title}}</h4>
                              <p>{{card.text}}</p>
                              <a href="{{card.link}}" class="btn" {% if card.external_link == true %}target="_blank"{%endif%}>{{card.text_link}}</a>
                         </div>
                    </li>
                    {% endfor %}
               </ul>
          </section>
		{% include footer.html %}
	</main>
</div>
