---
layout: all
---

<div class="col-12">
    <h2 class="no-marg">
        {% assign icon_category = site.icon_categories | where: 'short_name', page.icon_category | first %}
        {% if icon_category %}
        {{ icon_category.name }}
        {% endif %}
    </h2>
</div>

<div class="col-12">
    <div class="demo-components demo-icons">
        {% if page.unicode_regular %}
        {% include icon-regular.html %}
        {% elsif page.unicode_solid %}
        {% include icon-solid.html %}
        {% elsif page.unicode_brand %}
        {% include icon-brand.html %}
        {% endif %}
    </div>
</div>
