---
layout: detail
title: Accordion
desc: Accordion for Fajny CSS
intro: Since we do not use any JS, the trigger to open the accordion is an input radio. If you want to be able to open several tabs in the same time you can change it with a checkbox.
file_include: components/accordion
additional-css:
---

<h2>Without background</h2>
<div class="results">
	<div class="list-results">
		<div class="accordion accordion-no-bg">
			<div class="accordion-content">
				<input type="radio" name="accordion-no-bg" id="accordion-1-no-bg" checked />
				<label for="accordion-1-no-bg" class="font-primary">Title</label>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vehicula ligula et ante bibendum, et hendrerit eros laoreet. Nam sit amet tortor vitae libero finibus placerat. Etiam ultricies volutpat dapibus. Nunc non placerat libero, a aliquam lorem. Nulla et erat egestas, aliquet lectus sit amet, gravida dui. Nunc suscipit libero eu risus viverra scelerisque. Donec in sem quis odio semper auctor. Suspendisse efficitur velit orci, in varius urna porta ut. Morbi
					tincidunt justo id augue malesuada rhoncus. Aliquam nec eros et velit rhoncus luctus. Nunc condimentum mollis risus, in posuere lacus pharetra et.
				</p>
			</div>

			<div class="accordion-content">
				<input type="radio" name="accordion-no-bg" id="accordion-2-no-bg" />
				<label for="accordion-2-no-bg" class="font-primary">Title</label>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vehicula ligula et ante bibendum, et hendrerit eros laoreet. Nam sit amet tortor vitae libero finibus placerat. Etiam ultricies volutpat dapibus. Nunc non placerat libero, a aliquam lorem. Nulla et erat egestas, aliquet lectus sit amet, gravida dui. Nunc suscipit libero eu risus viverra scelerisque. Donec in sem quis odio semper auctor. Suspendisse efficitur velit orci, in varius urna porta ut. Morbi
					tincidunt justo id augue malesuada rhoncus. Aliquam nec eros et velit rhoncus luctus. Nunc condimentum mollis risus, in posuere lacus pharetra et.
				</p>
			</div>
		</div>
	</div>
	<div class="code-result">
		{% include code_html.html content="&lt;div class=&quot;accordion accordion-no-bg&quot;&gt;
    &lt;div class=&quot;accordion-content&quot;&gt;
            &lt;input type=&quot;radio&quot; name=&quot;accordion-no-bg&quot; id=&quot;accordion-1-no-bg&quot; checked /&gt;
            &lt;label for=&quot;accordion-1-no-bg&quot; class=&quot;font-primary&quot;&gt;Title&lt;/label&gt;
            &lt;p&gt;
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vehicula ligula et ante bibendum, et hendrerit eros laoreet. Nam sit amet tortor vitae libero
                finibus placerat. Etiam ultricies volutpat dapibus. Nunc non placerat libero, a aliquam lorem. Nulla et erat egestas, aliquet lectus sit amet, gravida dui. Nunc
                suscipit libero eu risus viverra scelerisque. Donec in sem quis odio semper auctor. Suspendisse efficitur velit orci, in varius urna porta ut.
                Morbi tincidunt justo id augue malesuada rhoncus. Aliquam nec eros et velit rhoncus luctus. Nunc condimentum mollis risus, in posuere lacus pharetra et.
            &lt;/p&gt;
    &lt;/div&gt;

    &lt;div class=&quot;accordion-content&quot;&gt;
            &lt;input type=&quot;radio&quot; name=&quot;accordion-no-bg&quot; id=&quot;accordion-2-no-bg&quot; /&gt;
            &lt;label for=&quot;accordion-2-no-bg&quot; class=&quot;font-primary&quot;&gt;Title&lt;/label&gt;
            &lt;p&gt;
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vehicula ligula et ante bibendum, et hendrerit eros laoreet. Nam sit amet tortor vitae libero
                finibus placerat. Etiam ultricies volutpat dapibus. Nunc non placerat libero, a aliquam lorem. Nulla et erat egestas, aliquet lectus sit amet, gravida dui. Nunc
                suscipit libero eu risus viverra scelerisque. Donec in sem quis odio semper auctor. Suspendisse efficitur velit orci, in varius urna porta ut.
                Morbi tincidunt justo id augue malesuada rhoncus. Aliquam nec eros et velit rhoncus luctus. Nunc condimentum mollis risus, in posuere lacus pharetra et.
            &lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;" %}
	</div>
</div>

<h2>With background</h2>
<div class="results">
	<div class="list-results">
		<div class="accordion accordion-bg bg-white">
			<div class="accordion-content">
				<input type="radio" name="accordion-bg" id="accordion-1-bg" checked />
				<label for="accordion-1-bg" class="bg-primary">Title</label>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vehicula ligula et ante bibendum, et hendrerit eros laoreet. Nam sit amet tortor vitae libero finibus placerat. Etiam ultricies volutpat dapibus. Nunc non placerat libero, a aliquam lorem. Nulla et erat egestas, aliquet lectus sit amet, gravida dui. Nunc suscipit libero eu risus viverra scelerisque. Donec in sem quis odio semper auctor. Suspendisse efficitur velit orci, in varius urna porta ut. Morbi
					tincidunt justo id augue malesuada rhoncus. Aliquam nec eros et velit rhoncus luctus. Nunc condimentum mollis risus, in posuere lacus pharetra et.
				</p>
			</div>

			<div class="accordion-content">
				<input type="radio" name="accordion-bg" id="accordion-2-bg" />
				<label for="accordion-2-bg" class="bg-primary">Title</label>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vehicula ligula et ante bibendum, et hendrerit eros laoreet. Nam sit amet tortor vitae libero finibus placerat. Etiam ultricies volutpat dapibus. Nunc non placerat libero, a aliquam lorem. Nulla et erat egestas, aliquet lectus sit amet, gravida dui. Nunc suscipit libero eu risus viverra scelerisque. Donec in sem quis odio semper auctor. Suspendisse efficitur velit orci, in varius urna porta ut. Morbi
					tincidunt justo id augue malesuada rhoncus. Aliquam nec eros et velit rhoncus luctus. Nunc condimentum mollis risus, in posuere lacus pharetra et.
				</p>
			</div>
		</div>
	</div>
	<div class="code-result">
		{% include code_html.html content="&lt;div class=&quot;accordion accordion-bg bg-white&quot;&gt;
    &lt;div class=&quot;accordion-content&quot;&gt;
            &lt;input type=&quot;radio&quot; name=&quot;accordion-bg&quot; id=&quot;accordion-1-bg&quot; checked /&gt;
            &lt;label for=&quot;accordion-1-bg&quot; class=&quot;bg-primary&quot;&gt;Title&lt;/label&gt;
            &lt;p&gt;
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vehicula ligula et ante bibendum, et hendrerit eros laoreet. Nam sit amet tortor vitae libero
                finibus placerat. Etiam ultricies volutpat dapibus. Nunc non placerat libero, a aliquam lorem. Nulla et erat egestas, aliquet lectus sit amet, gravida dui. Nunc
                suscipit libero eu risus viverra scelerisque. Donec in sem quis odio semper auctor. Suspendisse efficitur velit orci, in varius urna porta ut.
                Morbi tincidunt justo id augue malesuada rhoncus. Aliquam nec eros et velit rhoncus luctus. Nunc condimentum mollis risus, in posuere lacus pharetra et.
            &lt;/p&gt;
    &lt;/div&gt;

    &lt;div class=&quot;accordion-content&quot;&gt;
            &lt;input type=&quot;radio&quot; name=&quot;accordion-bg&quot; id=&quot;accordion-2-bg&quot; /&gt;
            &lt;label for=&quot;accordion-2-bg&quot; class=&quot;bg-primary&quot;&gt;Title&lt;/label&gt;
            &lt;p&gt;
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vehicula ligula et ante bibendum, et hendrerit eros laoreet. Nam sit amet tortor vitae libero
                finibus placerat. Etiam ultricies volutpat dapibus. Nunc non placerat libero, a aliquam lorem. Nulla et erat egestas, aliquet lectus sit amet, gravida dui. Nunc
                suscipit libero eu risus viverra scelerisque. Donec in sem quis odio semper auctor. Suspendisse efficitur velit orci, in varius urna porta ut.
                Morbi tincidunt justo id augue malesuada rhoncus. Aliquam nec eros et velit rhoncus luctus. Nunc condimentum mollis risus, in posuere lacus pharetra et.
            &lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;" %}
	</div>
</div>
