---
layout: detail
title: Alerts
desc: Alerts for Fajny CSS
intro: Alerts are available to notify the user, and use contextual classes.
file_include: components/alerts
additional-css: .alert{float:left;clear:both;margin-bottom:20px}
---

<h2>Without button</h2>
<div class="results">
	<div class="list-results">
		<div class="alert alert-success">
			<span></span>
			<i class="icon icon-check-circle-solid"></i>
			<div class="container-alert">
				<p class="title-alert">Success!</p>
				<p class="text-alert">Success text</p>
			</div>
		</div>

		<div class="alert alert-danger">
			<span></span>
			<i class="icon icon-not-allowed-solid"></i>
			<div class="container-alert">
				<p class="title-alert">Error!</p>
				<p class="text-alert">Error text</p>
			</div>
		</div>

		<div class="alert alert-warning">
			<span></span>
			<i class="icon icon-warning-bold"></i>
			<div class="container-alert">
				<p class="title-alert">Warning!</p>
				<p class="text-alert">Warning text</p>
			</div>
		</div>
	</div>
	<div class="code-result">
        {% include code_html.html content="&lt;div class=&quot;alert alert-success&quot;&gt;
    &lt;span&gt;&lt;/span&gt;
    &lt;i class=&quot;icon icon-check-circle-solid&quot;&gt;&lt;/i&gt;
    &lt;div class=&quot;container-alert&quot;&gt;
            &lt;p class=&quot;title-alert&quot;&gt;Success!&lt;/p&gt;
            &lt;p class=&quot;text-alert&quot;&gt;Success text&lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;

&lt;div class=&quot;alert alert-danger&quot;&gt;
    &lt;span&gt;&lt;/span&gt;
    &lt;i class=&quot;icon icon-not-allowed-solid&quot;&gt;&lt;/i&gt;
    &lt;div class=&quot;container-alert&quot;&gt;
            &lt;p class=&quot;title-alert&quot;&gt;Error!&lt;/p&gt;
            &lt;p class=&quot;text-alert&quot;&gt;Error text&lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;

&lt;div class=&quot;alert alert-warning&quot;&gt;
    &lt;span&gt;&lt;/span&gt;
    &lt;i class=&quot;icon icon-warning-bold&quot;&gt;&lt;/i&gt;
    &lt;div class=&quot;container-alert&quot;&gt;
            &lt;p class=&quot;title-alert&quot;&gt;Warning!&lt;/p&gt;
            &lt;p class=&quot;text-alert&quot;&gt;Warning text&lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;" %}
	</div>
</div>

<h2>With 1 button</h2>
<div class="results">
	<div class="list-results">
		<div class="alert alert-success">
			<span></span>
			<i class="icon icon-check-circle-solid"></i>
			<div class="container-alert">
				<p class="title-alert">Success!</p>
				<p class="text-alert">Success text</p>
			</div>
			<div class="buttons">
				<a href="#" class="btn btn-rectangle btn-success">Ok</a>
			</div>
		</div>

		<div class="alert alert-danger">
			<span></span>
			<i class="icon icon-not-allowed-solid"></i>
			<div class="container-alert">
				<p class="title-alert">Error!</p>
				<p class="text-alert">Error text</p>
			</div>
			<div class="buttons">
				<a href="#" class="btn btn-rectangle btn-danger">Ok</a>
			</div>
		</div>

		<div class="alert alert-warning">
			<span></span>
			<i class="icon icon-warning-bold"></i>
			<div class="container-alert">
				<p class="title-alert">Warning!</p>
				<p class="text-alert">Warning text</p>
			</div>
			<div class="buttons">
				<a href="#" class="btn btn-rectangle btn-warning">Ok</a>
			</div>
		</div>
	</div>
	<div class="code-result">
        {% include code_html.html content="&lt;div class=&quot;alert alert-success&quot;&gt;
    &lt;span&gt;&lt;/span&gt;
    &lt;i class=&quot;icon icon-check-circle-solid&quot;&gt;&lt;/i&gt;
    &lt;div class=&quot;container-alert&quot;&gt;
            &lt;p class=&quot;title-alert&quot;&gt;Success!&lt;/p&gt;
            &lt;p class=&quot;text-alert&quot;&gt;Success text&lt;/p&gt;
    &lt;/div&gt;
    &lt;div class=&quot;buttons&quot;&gt;
            &lt;a href=&quot;#&quot; class=&quot;btn btn-rectangle btn-success&quot;&gt;Ok&lt;/a&gt;
    &lt;/div&gt;
&lt;/div&gt;

&lt;div class=&quot;alert alert-danger&quot;&gt;
    &lt;span&gt;&lt;/span&gt;
    &lt;i class=&quot;icon icon-not-allowed-solid&quot;&gt;&lt;/i&gt;
    &lt;div class=&quot;container-alert&quot;&gt;
            &lt;p class=&quot;title-alert&quot;&gt;Error!&lt;/p&gt;
            &lt;p class=&quot;text-alert&quot;&gt;Error text&lt;/p&gt;
    &lt;/div&gt;
    &lt;div class=&quot;buttons&quot;&gt;
            &lt;a href=&quot;#&quot; class=&quot;btn btn-rectangle btn-danger&quot;&gt;Ok&lt;/a&gt;
    &lt;/div&gt;
&lt;/div&gt;

&lt;div class=&quot;alert alert-warning&quot;&gt;
    &lt;span&gt;&lt;/span&gt;
    &lt;i class=&quot;icon icon-warning-bold&quot;&gt;&lt;/i&gt;
    &lt;div class=&quot;container-alert&quot;&gt;
            &lt;p class=&quot;title-alert&quot;&gt;Warning!&lt;/p&gt;
            &lt;p class=&quot;text-alert&quot;&gt;Warning text&lt;/p&gt;
    &lt;/div&gt;
    &lt;div class=&quot;buttons&quot;&gt;
            &lt;a href=&quot;#&quot; class=&quot;btn btn-rectangle btn-warning&quot;&gt;Ok&lt;/a&gt;
    &lt;/div&gt;
&lt;/div&gt;" %}
	</div>
</div>

<h2>With 2 buttons</h2>
<div class="results">
	<div class="list-results">
		<div class="alert alert-success">
			<span></span>
			<i class="icon icon-check-circle-solid"></i>
			<div class="container-alert">
				<p class="title-alert">Success!</p>
				<p class="text-alert">Success text</p>
			</div>
			<div class="buttons">
				<a href="#" class="btn btn-rectangle btn-outline btn-gray">Cancel</a>
				<a href="#" class="btn btn-rectangle btn-success">Ok</a>
			</div>
		</div>

		<div class="alert alert-danger">
			<span></span>
			<i class="icon icon-not-allowed-solid"></i>
			<div class="container-alert">
				<p class="title-alert">Error!</p>
				<p class="text-alert">Error text</p>
			</div>
			<div class="buttons">
				<a href="#" class="btn btn-rectangle btn-outline btn-gray">Cancel</a>
				<a href="#" class="btn btn-rectangle btn-danger">Ok</a>
			</div>
		</div>

		<div class="alert alert-warning">
			<span></span>
			<i class="icon icon-warning-bold"></i>
			<div class="container-alert">
				<p class="title-alert">Warning!</p>
				<p class="text-alert">Warning text</p>
			</div>
			<div class="buttons">
				<a href="#" class="btn btn-rectangle btn-outline btn-gray">Cancel</a>
				<a href="#" class="btn btn-rectangle btn-warning">Ok</a>
			</div>
		</div>
	</div>
	<div class="code-result">
        {% include code_html.html content="&lt;div class=&quot;alert alert-success&quot;&gt;
    &lt;span&gt;&lt;/span&gt;
    &lt;i class=&quot;icon icon-check-circle-solid&quot;&gt;&lt;/i&gt;
    &lt;div class=&quot;container-alert&quot;&gt;
            &lt;p class=&quot;title-alert&quot;&gt;Success!&lt;/p&gt;
            &lt;p class=&quot;text-alert&quot;&gt;Success text&lt;/p&gt;
    &lt;/div&gt;
    &lt;div class=&quot;buttons&quot;&gt;
            &lt;a href=&quot;#&quot; class=&quot;btn btn-rectangle btn-outline btn-gray&quot;&gt;Cancel&lt;/a&gt;
            &lt;a href=&quot;#&quot; class=&quot;btn btn-rectangle btn-success&quot;&gt;Ok&lt;/a&gt;
    &lt;/div&gt;
&lt;/div&gt;

&lt;div class=&quot;alert alert-danger&quot;&gt;
    &lt;span&gt;&lt;/span&gt;
    &lt;i class=&quot;icon icon-not-allowed-solid&quot;&gt;&lt;/i&gt;
    &lt;div class=&quot;container-alert&quot;&gt;
            &lt;p class=&quot;title-alert&quot;&gt;Error!&lt;/p&gt;
            &lt;p class=&quot;text-alert&quot;&gt;Error text&lt;/p&gt;
    &lt;/div&gt;
    &lt;div class=&quot;buttons&quot;&gt;
            &lt;a href=&quot;#&quot; class=&quot;btn btn-rectangle btn-outline btn-gray&quot;&gt;Cancel&lt;/a&gt;
            &lt;a href=&quot;#&quot; class=&quot;btn btn-rectangle btn-danger&quot;&gt;Ok&lt;/a&gt;
    &lt;/div&gt;
&lt;/div&gt;

&lt;div class=&quot;alert alert-warning&quot;&gt;
    &lt;span&gt;&lt;/span&gt;
    &lt;i class=&quot;icon icon-warning-bold&quot;&gt;&lt;/i&gt;
    &lt;div class=&quot;container-alert&quot;&gt;
            &lt;p class=&quot;title-alert&quot;&gt;Warning!&lt;/p&gt;
            &lt;p class=&quot;text-alert&quot;&gt;Warning text&lt;/p&gt;
    &lt;/div&gt;
    &lt;div class=&quot;buttons&quot;&gt;
            &lt;a href=&quot;#&quot; class=&quot;btn btn-rectangle btn-outline btn-gray&quot;&gt;Cancel&lt;/a&gt;
            &lt;a href=&quot;#&quot; class=&quot;btn btn-rectangle btn-warning&quot;&gt;Ok&lt;/a&gt;
    &lt;/div&gt;
&lt;/div&gt;" %}
	</div>
</div>

<h2>With a background</h2>
<div class="results">
	<div class="list-results">
		<div class="alert alert-bg alert-success">
			<i class="icon icon-check-circle-solid"></i>
			<div class="container-alert">
				<p class="title-alert">Success!</p>
				<p class="text-alert">Success text</p>
			</div>
		</div>

		<div class="alert alert-bg alert-danger">
			<i class="icon icon-not-allowed-solid"></i>
			<div class="container-alert">
				<p class="title-alert">Error!</p>
				<p class="text-alert">Error text</p>
			</div>
		</div>

		<div class="alert alert-bg alert-warning">
			<i class="icon icon-warning-bold"></i>
			<div class="container-alert">
				<p class="title-alert">Warning!</p>
				<p class="text-alert">Warning text</p>
			</div>
		</div>
	</div>
	<div class="code-result">
        {% include code_html.html content="&lt;div class=&quot;alert alert-bg alert-success&quot;&gt;
    &lt;i class=&quot;icon icon-check-circle-solid&quot;&gt;&lt;/i&gt;
    &lt;div class=&quot;container-alert&quot;&gt;
            &lt;p class=&quot;title-alert&quot;&gt;Success!&lt;/p&gt;
            &lt;p class=&quot;text-alert&quot;&gt;Success text&lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;

&lt;div class=&quot;alert alert-bg alert-danger&quot;&gt;
    &lt;i class=&quot;icon icon-not-allowed-solid&quot;&gt;&lt;/i&gt;
    &lt;div class=&quot;container-alert&quot;&gt;
            &lt;p class=&quot;title-alert&quot;&gt;Error!&lt;/p&gt;
            &lt;p class=&quot;text-alert&quot;&gt;Error text&lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;

&lt;div class=&quot;alert alert-bg alert-warning&quot;&gt;
    &lt;i class=&quot;icon icon-warning-bold&quot;&gt;&lt;/i&gt;
    &lt;div class=&quot;container-alert&quot;&gt;
            &lt;p class=&quot;title-alert&quot;&gt;Warning!&lt;/p&gt;
            &lt;p class=&quot;text-alert&quot;&gt;Warning text&lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;" %}
	</div>
</div>
