---
layout: detail
title: Avatar
desc: Avatar for Fajny CSS
intro: Avatar are created with two states, with and without a picture.
file_include: components/avatars
additional-css: .avatar{margin-right:20px}
---
<h2>Without picture</h2>
<div class="results">
     <div class="list-results">
          <div class="avatar avatar-empty avatar-80"></div>
          <div class="avatar avatar-empty avatar-72"></div>
          <div class="avatar avatar-empty avatar-64"></div>
          <div class="avatar avatar-empty avatar-56"></div>
          <div class="avatar avatar-empty avatar-48"></div>
          <div class="avatar avatar-empty avatar-40"></div>
          <div class="avatar avatar-empty avatar-32"></div>
          <div class="avatar avatar-empty avatar-24"></div>
          <div class="avatar avatar-empty avatar-16"></div>
     </div>
     <div class="code-result">
{% include code_html.html content="&lt;div class=&quot;avatar avatar-empty avatar-80&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;avatar avatar-empty avatar-72&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;avatar avatar-empty avatar-64&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;avatar avatar-empty avatar-56&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;avatar avatar-empty avatar-48&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;avatar avatar-empty avatar-40&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;avatar avatar-empty avatar-32&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;avatar avatar-empty avatar-24&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;avatar avatar-empty avatar-16&quot;&gt;&lt;/div&gt;" %}
          </pre>
     </div>
</div>

<h2>With picture</h2>
<div class="results">
     <div class="list-results">
          <div class="avatar avatar-80" style="background: url(/assets/images/pic-avatar.jpg)"></div>
          <div class="avatar avatar-72" style="background: url(/assets/images/pic-avatar.jpg)"></div>
          <div class="avatar avatar-64" style="background: url(/assets/images/pic-avatar.jpg)"></div>
          <div class="avatar avatar-56" style="background: url(/assets/images/pic-avatar.jpg)"></div>
          <div class="avatar avatar-48" style="background: url(/assets/images/pic-avatar.jpg)"></div>
          <div class="avatar avatar-40" style="background: url(/assets/images/pic-avatar.jpg)"></div>
          <div class="avatar avatar-32" style="background: url(/assets/images/pic-avatar.jpg)"></div>
          <div class="avatar avatar-24" style="background: url(/assets/images/pic-avatar.jpg)"></div>
          <div class="avatar avatar-16" style="background: url(/assets/images/pic-avatar.jpg)"></div>
     </div>
     <div class="code-result">
{% include code_html.html content="&lt;div class=&quot;avatar avatar-80&quot; style=&quot;background: url(/assets/images/pic-avatar.jpg)&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;avatar avatar-72&quot; style=&quot;background: url(/assets/images/pic-avatar.jpg)&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;avatar avatar-64&quot; style=&quot;background: url(/assets/images/pic-avatar.jpg)&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;avatar avatar-56&quot; style=&quot;background: url(/assets/images/pic-avatar.jpg)&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;avatar avatar-48&quot; style=&quot;background: url(/assets/images/pic-avatar.jpg)&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;avatar avatar-40&quot; style=&quot;background: url(/assets/images/pic-avatar.jpg)&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;avatar avatar-32&quot; style=&quot;background: url(/assets/images/pic-avatar.jpg)&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;avatar avatar-24&quot; style=&quot;background: url(/assets/images/pic-avatar.jpg)&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;avatar avatar-16&quot; style=&quot;background: url(/assets/images/pic-avatar.jpg)&quot;&gt;&lt;/div&gt;" %}
          </pre>
     </div>
</div>