---
layout: detail
title: Buttons
desc: Buttons for Fajny CSS
intro: Buttons exist in different sizes and colors.
file_include: components/buttons
additional-css: .btn{margin-right:20px}.btn-full{margin-bottom:20px}.dropdown .dropdown-content{top:38px}.results .list-results .dropdown-content li{float:none;margin-right:0}
---
<h2>Normal</h2>
<div class="results">
     <div class="list-results">
               <a href="#" class="btn btn-rectangle btn-primary">Primary</a>
               <a href="#" class="btn btn-rectangle btn-secondary">Secondary</a>
               <a href="#" class="btn btn-rectangle btn-success">Success</a>
               <a href="#" class="btn btn-rectangle btn-danger">Danger</a>
               <a href="#" class="btn btn-rectangle btn-warning">Warning</a>
               <a href="#" class="btn btn-rectangle btn-white">White</a>
               <a href="#" class="btn btn-rectangle btn-disabled">Disabled</a>
     </div>
     <div class="code-result">
          {% include code_html.html content="&lt;a href=&quot;#&quot; class=&quot;btn btn-rectangle btn-primary&quot;&gt;Primary&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;btn btn-rectangle btn-secondary&quot;&gt;Secondary&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;btn btn-rectangle btn-success&quot;&gt;Success&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;btn btn-rectangle btn-danger&quot;&gt;Danger&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;btn btn-rectangle btn-warning&quot;&gt;Warning&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;btn btn-rectangle btn-white&quot;&gt;White&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;btn btn-rectangle btn-disabled&quot;&gt;Disabled&lt;/a&gt;" %}
     </div>
</div>

<h2>Outline</h2>
<div class="results">
     <div class="list-results">
          <a href="#" class="btn btn-rectangle btn-outline btn-primary">Primary</a>
          <a href="#" class="btn btn-rectangle btn-outline btn-secondary">Secondary</a>
          <a href="#" class="btn btn-rectangle btn-outline btn-success">Success</a>
          <a href="#" class="btn btn-rectangle btn-outline btn-danger">Danger</a>
          <a href="#" class="btn btn-rectangle btn-outline btn-warning">Warning</a>
          <a href="#" class="btn btn-rectangle btn-outline btn-gray">Gray</a>
          <a href="#" class="btn btn-rectangle btn-outline btn-white">White</a>
          <a href="#" class="btn btn-rectangle btn-outline btn-disabled">Disabled</a>
     </div>
     <div class="code-result">
          {% include code_html.html content="&lt;a href=&quot;#&quot; class=&quot;btn btn-rectangle btn-outline btn-primary&quot;&gt;Primary&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;btn btn-rectangle btn-outline btn-secondary&quot;&gt;Secondary&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;btn btn-rectangle btn-outline btn-success&quot;&gt;Success&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;btn btn-rectangle btn-outline btn-danger&quot;&gt;Danger&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;btn btn-rectangle btn-outline btn-warning&quot;&gt;Warning&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;btn btn-rectangle btn-outline btn-gray&quot;&gt;Gray&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;btn btn-rectangle btn-outline btn-white&quot;&gt;White&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;btn btn-rectangle btn-outline btn-disabled&quot;&gt;Disabled&lt;/a&gt;" %}
     </div>
</div>

<h2>Pill</h2>
<div class="results">
     <div class="list-results">
          <a href="#" class="btn btn-pill btn-primary">Primary</a>
          <a href="#" class="btn btn-pill btn-secondary">Secondary</a>
          <a href="#" class="btn btn-pill btn-success">Success</a>
          <a href="#" class="btn btn-pill btn-danger">Danger</a>
          <a href="#" class="btn btn-pill btn-warning">Warning</a>
          <a href="#" class="btn btn-pill btn-white">White</a>
          <a href="#" class="btn btn-pill btn-disabled">Disabled</a>
     </div>
     <div class="code-result">
          {% include code_html.html content="&lt;a href=&quot;#&quot; class=&quot;btn btn-pill btn-primary&quot;&gt;Primary&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;btn btn-pill btn-secondary&quot;&gt;Secondary&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;btn btn-pill btn-success&quot;&gt;Success&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;btn btn-pill btn-danger&quot;&gt;Danger&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;btn btn-pill btn-warning&quot;&gt;Warning&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;btn btn-pill btn-white&quot;&gt;White&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;btn btn-pill btn-disabled&quot;&gt;Disabled&lt;/a&gt;" %}
     </div>
</div>

<h2>Pill outline</h2>
<div class="results">
     <div class="list-results">
          <a href="#" class="btn btn-pill btn-outline btn-primary">Primary</a>
          <a href="#" class="btn btn-pill btn-outline btn-secondary">Secondary</a>
          <a href="#" class="btn btn-pill btn-outline btn-success">Success</a>
          <a href="#" class="btn btn-pill btn-outline btn-danger">Danger</a>
          <a href="#" class="btn btn-pill btn-outline btn-warning">Warning</a>
          <a href="#" class="btn btn-pill btn-outline btn-gray">Gray</a>
          <a href="#" class="btn btn-pill btn-outline btn-white">White</a>
          <a href="#" class="btn btn-pill btn-outline btn-disabled">Disabled</a>
     </div>
     <div class="code-result">
          {% include code_html.html content="&lt;a href=&quot;#&quot; class=&quot;btn btn-pill btn-outline btn-primary&quot;&gt;Primary&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;btn btn-pill btn-outline btn-secondary&quot;&gt;Secondary&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;btn btn-pill btn-outline btn-success&quot;&gt;Success&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;btn btn-pill btn-outline btn-danger&quot;&gt;Danger&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;btn btn-pill btn-outline btn-warning&quot;&gt;Warning&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;btn btn-pill btn-outline btn-gray&quot;&gt;Gray&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;btn btn-pill btn-outline btn-white&quot;&gt;White&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;btn btn-pill btn-outline btn-disabled&quot;&gt;Disabled&lt;/a&gt;" %}
     </div>
</div>

<h2>Large</h2>
<div class="results">
     <div class="list-results">
          <a href="#" class="btn btn-rectangle btn-primary btn-large">Primary</a>
          <a href="#" class="btn btn-rectangle btn-secondary btn-large">Secondary</a>
          <a href="#" class="btn btn-rectangle btn-success btn-large">Success</a>
          <a href="#" class="btn btn-rectangle btn-danger btn-large">Danger</a>
          <a href="#" class="btn btn-rectangle btn-warning btn-large">Warning</a>
          <a href="#" class="btn btn-rectangle btn-white btn-large">White</a>
          <a href="#" class="btn btn-rectangle btn-disabled btn-large">Disabled</a>
     </div>
     <div class="code-result">
          {% include code_html.html content="&lt;a href=&quot;#&quot; class=&quot;btn btn-rectangle btn-primary btn-large&quot;&gt;Primary&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;btn btn-rectangle btn-secondary btn-large&quot;&gt;Secondary&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;btn btn-rectangle btn-success btn-large&quot;&gt;Success&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;btn btn-rectangle btn-danger btn-large&quot;&gt;Danger&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;btn btn-rectangle btn-warning btn-large&quot;&gt;Warning&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;btn btn-rectangle btn-white btn-large&quot;&gt;White&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;btn btn-rectangle btn-disabled btn-large&quot;&gt;Disabled&lt;/a&gt;" %}
     </div>
</div>

<h2>Large outline</h2>
<div class="results">
     <div class="list-results">
          <a href="#" class="btn btn-rectangle btn-outline btn-primary btn-large">Primary</a>
          <a href="#" class="btn btn-rectangle btn-outline btn-secondary btn-large">Secondary</a>
          <a href="#" class="btn btn-rectangle btn-outline btn-success btn-large">Success</a>
          <a href="#" class="btn btn-rectangle btn-outline btn-danger btn-large">Danger</a>
          <a href="#" class="btn btn-rectangle btn-outline btn-warning btn-large">Warning</a>
          <a href="#" class="btn btn-rectangle btn-outline btn-gray btn-large">Gray</a>
          <a href="#" class="btn btn-rectangle btn-outline btn-white btn-large">White</a>
          <a href="#" class="btn btn-rectangle btn-outline btn-disabled btn-large">Disabled</a>
     </div>
     <div class="code-result">
          {% include code_html.html content="&lt;a href=&quot;#&quot; class=&quot;btn btn-rectangle btn-outline btn-primary btn-large&quot;&gt;Primary&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;btn btn-rectangle btn-outline btn-secondary btn-large&quot;&gt;Secondary&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;btn btn-rectangle btn-outline btn-success btn-large&quot;&gt;Success&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;btn btn-rectangle btn-outline btn-danger btn-large&quot;&gt;Danger&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;btn btn-rectangle btn-outline btn-warning btn-large&quot;&gt;Warning&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;btn btn-rectangle btn-outline btn-gray btn-large&quot;&gt;Gray&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;btn btn-rectangle btn-outline btn-white btn-large&quot;&gt;White&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;btn btn-rectangle btn-outline btn-disabled btn-large&quot;&gt;Disabled&lt;/a&gt;" %}
     </div>
</div>

<h2>Large pill</h2>
<div class="results">
     <div class="list-results">
          <a href="#" class="btn btn-pill btn-primary btn-large">Primary</a>
          <a href="#" class="btn btn-pill btn-secondary btn-large">Secondary</a>
          <a href="#" class="btn btn-pill btn-success btn-large">Success</a>
          <a href="#" class="btn btn-pill btn-danger btn-large">Danger</a>
          <a href="#" class="btn btn-pill btn-warning btn-large">Warning</a>
          <a href="#" class="btn btn-pill btn-white btn-large">White</a>
          <a href="#" class="btn btn-pill btn-disabled btn-large">Disabled</a>
     </div>
     <div class="code-result">
          {% include code_html.html content="&lt;a href=&quot;#&quot; class=&quot;btn btn-pill btn-primary btn-large&quot;&gt;Primary&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;btn btn-pill btn-secondary btn-large&quot;&gt;Secondary&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;btn btn-pill btn-success btn-large&quot;&gt;Success&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;btn btn-pill btn-danger btn-large&quot;&gt;Danger&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;btn btn-pill btn-warning btn-large&quot;&gt;Warning&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;btn btn-pill btn-white btn-large&quot;&gt;White&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;btn btn-pill btn-disabled btn-large&quot;&gt;Disabled&lt;/a&gt;" %}
     </div>
</div>

<h2>Large pill outline</h2>
<div class="results">
     <div class="list-results">
          <a href="#" class="btn btn-pill btn-outline btn-primary btn-large">Primary</a>
          <a href="#" class="btn btn-pill btn-outline btn-secondary btn-large">Secondary</a>
          <a href="#" class="btn btn-pill btn-outline btn-success btn-large">Success</a>
          <a href="#" class="btn btn-pill btn-outline btn-danger btn-large">Danger</a>
          <a href="#" class="btn btn-pill btn-outline btn-warning btn-large">Warning</a>
          <a href="#" class="btn btn-pill btn-outline btn-gray btn-large">Gray</a>
          <a href="#" class="btn btn-pill btn-outline btn-white btn-large">White</a>
          <a href="#" class="btn btn-pill btn-outline btn-disabled btn-large">Disabled</a>
     </div>
     <div class="code-result">
          {% include code_html.html content="&lt;a href=&quot;#&quot; class=&quot;btn btn-pill btn-outline btn-primary btn-large&quot;&gt;Primary&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;btn btn-pill btn-outline btn-secondary btn-large&quot;&gt;Secondary&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;btn btn-pill btn-outline btn-success btn-large&quot;&gt;Success&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;btn btn-pill btn-outline btn-danger btn-large&quot;&gt;Danger&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;btn btn-pill btn-outline btn-warning btn-large&quot;&gt;Warning&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;btn btn-pill btn-outline btn-gray btn-large&quot;&gt;Gray&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;btn btn-pill btn-outline btn-white btn-large&quot;&gt;White&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;btn btn-pill btn-outline btn-disabled btn-large&quot;&gt;Disabled&lt;/a&gt;" %}
     </div>
</div>

<h2>Button with icon</h2>
<div class="results">
     <div class="list-results">
          <a href="#" class="btn btn-rectangle btn-primary">Primary with Icon <i class="icon icon-save-solid"></i></a>
     </div>
     <div class="code-result">
          {% include code_html.html content="&lt;a href=&quot;#&quot; class=&quot;btn btn-rectangle btn-primary&quot;&gt;Primary with Icon &lt;i class=&quot;icon icon-save-solid&quot;&gt;&lt;/i&gt;&lt;/a&gt;" %}
     </div>
</div>

<h2>Round</h2>
<div class="results">
     <div class="list-results">
          <a href="#" class="btn btn-round"><i class="icon icon-edit-solid"></i></a>
     </div>
     <div class="code-result">
          {% include code_html.html content="&lt;a href=&quot;#&quot; class=&quot;btn btn-round&quot;&gt;&lt;i class=&quot;icon icon-edit-solid&quot;&gt;&lt;/i&gt;&lt;/a&gt;" %}
     </div>
</div>

<h2>Full width</h2>
<div class="results">
     <div class="list-results">
          <a href="#" class="btn btn-full btn-primary">Primary</a>
          <a href="#" class="btn btn-full btn-secondary">Secondary</a>
          <a href="#" class="btn btn-full btn-success">Success</a>
          <a href="#" class="btn btn-full btn-danger">Danger</a>
          <a href="#" class="btn btn-full btn-warning">Warning</a>
          <a href="#" class="btn btn-full btn-disabled">Disabled</a>
     </div>
     <div class="code-result">
          {% include code_html.html content="&lt;a href=&quot;#&quot; class=&quot;btn btn-full btn-primary&quot;&gt;Primary&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;btn btn-full btn-secondary&quot;&gt;Secondary&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;btn btn-full btn-success&quot;&gt;Success&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;btn btn-full btn-danger&quot;&gt;Danger&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;btn btn-full btn-warning&quot;&gt;Warning&lt;/a&gt;
&lt;a href=&quot;#&quot; class=&quot;btn btn-full btn-disabled&quot;&gt;Disabled&lt;/a&gt;" %}
     </div>
</div>

<h2>Dropdown</h2>
<div class="results">
     <div class="list-results">
          <div class="dropdown">
               <a href="#" class="btn btn-rectangle btn-primary btn-dropdown">Dropdown</a>
               <ul class="dropdown-content">
                    <li><a href="#">Item</a></li>
                    <li><a href="#">Item</a></li>
                    <li><a href="#">Item</a></li>
                    <li><a href="#">Item</a></li>
                    <li><a href="#">Item</a></li>
               </ul>
          </div>
     </div>
     <div class="code-result">
          {% include code_html.html content="&lt;div class=&quot;dropdown&quot;&gt;
    &lt;a href=&quot;#&quot; class=&quot;btn btn-rectangle btn-primary btn-dropdown&quot;&gt;Dropdown&lt;/a&gt;
    &lt;ul class=&quot;dropdown-content&quot;&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Item&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Item&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Item&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Item&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Item&lt;/a&gt;&lt;/li&gt;
    &lt;/ul&gt;
&lt;/div&gt;" %}
     </div>
</div>