---
layout: detail
title: Images
desc: Images for Fajny CSS
intro: Container for images.
file_include: components/images
additional-css:
---

<h2>Container</h2>
<div class="results">
	<div class="list-results">
		<img src="/assets/images/pic-img.jpg" alt="" />
	</div>
	<div class="code-result">
		{% include code_html.html content="&lt;img src=&quot;/assets/images/pic-img.jpg&quot; alt=&quot;&quot; /&gt;" %}
	</div>
</div>

<h2>Images with caption</h2>
<div class="results">
	<div class="list-results">
		<div class="image-container">
			<img src="/assets/images/pic-img.jpg" alt="" />
			<p class="caption">Caption</p>
		</div>
	</div>
	<div class="code-result">
		{% include code_html.html content="&lt;div class=&quot;image-container&quot;&gt;
    &lt;img src=&quot;/assets/images/pic-img.jpg&quot; alt=&quot;&quot; /&gt;
    &lt;p class=&quot;caption&quot;&gt;Caption&lt;/p&gt;
&lt;/div&gt;" %}
	</div>
</div>
