---
layout: detail
title: Modals
desc: Modals for Fajny CSS
intro: Modals can be nice to show something full screen.
file_include: components/modals
additional-css:
---

<h2>Normal</h2>
<div class="results">
	<div class="list-results">
		<div class="modal">
			<input type="checkbox" name="" id="openModal1" class="check-open-modal" />
			<label for="openModal1" class="btn btn-rectangle btn-primary">Open modal</label>
			<div class="modal-container no-anim">
				<label for="openModal1" class="check-close-modal"><i class="icon icon-cross-solid"></i></label>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent elementum dui id tempus efficitur. Suspendisse eu pulvinar eros, vel faucibus quam. Maecenas tincidunt quam eu mattis placerat. Suspendisse ultricies consectetur ullamcorper. Vestibulum ornare, ipsum eget iaculis pretium, tortor augue tempus lacus, ut imperdiet diam nibh eu sapien. Nam condimentum lorem turpis, eget ultricies arcu finibus non. Mauris tempus tincidunt risus, et pulvinar nisl accumsan eget. Fusce
					sit amet eros imperdiet, porttitor leo non, scelerisque neque.
				</p>
			</div>
		</div>
	</div>
	<div class="code-result">
		{% include code_html.html content="&lt;div class=&quot;modal&quot;&gt;
    &lt;input type=&quot;checkbox&quot; name=&quot;&quot; id=&quot;openModal1&quot; class=&quot;check-open-modal&quot; /&gt;
    &lt;label for=&quot;openModal1&quot; class=&quot;btn btn-rectangle btn-primary&quot;&gt;Open modal&lt;/label&gt;
    &lt;div class=&quot;modal-container no-anim&quot;&gt;
            &lt;label for=&quot;openModal1&quot; class=&quot;check-close-modal&quot;&gt;&lt;i class=&quot;icon icon-cross-solid&quot;&gt;&lt;/i&gt;&lt;/label&gt;
            &lt;p&gt;
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent elementum dui id tempus efficitur. Suspendisse eu pulvinar eros, vel faucibus quam. Maecenas tincidunt quam eu mattis placerat. Suspendisse ultricies consectetur ullamcorper. Vestibulum ornare, ipsum eget iaculis pretium, tortor augue tempus lacus, ut imperdiet diam nibh eu sapien. Nam condimentum lorem turpis, eget ultricies arcu finibus non. Mauris tempus tincidunt risus, et pulvinar nisl accumsan
                eget. Fusce sit amet eros imperdiet, porttitor leo non, scelerisque neque.
            &lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;" %}
	</div>
</div>

<h2>Open from top</h2>
<div class="results">
	<div class="list-results">
		<div class="modal">
			<input type="checkbox" name="" id="openModal2" class="check-open-modal" />
			<label for="openModal2" class="btn btn-rectangle btn-primary">Open modal</label>
			<div class="modal-container from-top">
				<label for="openModal2" class="check-close-modal"><i class="icon icon-cross-solid"></i></label>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent elementum dui id tempus efficitur. Suspendisse eu pulvinar eros, vel faucibus quam. Maecenas tincidunt quam eu mattis placerat. Suspendisse ultricies consectetur ullamcorper. Vestibulum ornare, ipsum eget iaculis pretium, tortor augue tempus lacus, ut imperdiet diam nibh eu sapien. Nam condimentum lorem turpis, eget ultricies arcu finibus non. Mauris tempus tincidunt risus, et pulvinar nisl accumsan eget. Fusce
					sit amet eros imperdiet, porttitor leo non, scelerisque neque.
				</p>
			</div>
		</div>
	</div>
	<div class="code-result">
		{% include code_html.html content="&lt;div class=&quot;modal&quot;&gt;
    &lt;input type=&quot;checkbox&quot; name=&quot;&quot; id=&quot;openModal2&quot; class=&quot;check-open-modal&quot; /&gt;
    &lt;label for=&quot;openModal2&quot; class=&quot;btn btn-rectangle btn-primary&quot;&gt;Open modal&lt;/label&gt;
    &lt;div class=&quot;modal-container from-top&quot;&gt;
            &lt;label for=&quot;openModal2&quot; class=&quot;check-close-modal&quot;&gt;&lt;i class=&quot;icon icon-cross-solid&quot;&gt;&lt;/i&gt;&lt;/label&gt;
            &lt;p&gt;
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent elementum dui id tempus efficitur. Suspendisse eu pulvinar eros, vel faucibus quam. Maecenas tincidunt quam eu mattis placerat. Suspendisse ultricies consectetur ullamcorper. Vestibulum ornare, ipsum eget iaculis pretium, tortor augue tempus lacus, ut imperdiet diam nibh eu sapien. Nam condimentum lorem turpis, eget ultricies arcu finibus non. Mauris tempus tincidunt risus, et pulvinar nisl accumsan
                eget. Fusce sit amet eros imperdiet, porttitor leo non, scelerisque neque.
            &lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;" %}
	</div>
</div>

<h2>Open from bottom</h2>
<div class="results">
	<div class="list-results">
		<div class="modal">
			<input type="checkbox" name="" id="openModal3" class="check-open-modal" />
			<label for="openModal3" class="btn btn-rectangle btn-primary">Open modal</label>
			<div class="modal-container from-bottom">
				<label for="openModal3" class="check-close-modal"><i class="icon icon-cross-solid"></i></label>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent elementum dui id tempus efficitur. Suspendisse eu pulvinar eros, vel faucibus quam. Maecenas tincidunt quam eu mattis placerat. Suspendisse ultricies consectetur ullamcorper. Vestibulum ornare, ipsum eget iaculis pretium, tortor augue tempus lacus, ut imperdiet diam nibh eu sapien. Nam condimentum lorem turpis, eget ultricies arcu finibus non. Mauris tempus tincidunt risus, et pulvinar nisl accumsan eget. Fusce
					sit amet eros imperdiet, porttitor leo non, scelerisque neque.
				</p>
			</div>
		</div>
	</div>
	<div class="code-result">
		{% include code_html.html content="&lt;div class=&quot;modal&quot;&gt;
    &lt;input type=&quot;checkbox&quot; name=&quot;&quot; id=&quot;openModal3&quot; class=&quot;check-open-modal&quot; /&gt;
    &lt;label for=&quot;openModal3&quot; class=&quot;btn btn-rectangle btn-primary&quot;&gt;Open modal&lt;/label&gt;
    &lt;div class=&quot;modal-container from-bottom&quot;&gt;
            &lt;label for=&quot;openModal3&quot; class=&quot;check-close-modal&quot;&gt;&lt;i class=&quot;icon icon-cross-solid&quot;&gt;&lt;/i&gt;&lt;/label&gt;
            &lt;p&gt;
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent elementum dui id tempus efficitur. Suspendisse eu pulvinar eros, vel faucibus quam. Maecenas tincidunt quam eu mattis placerat. Suspendisse ultricies consectetur ullamcorper. Vestibulum ornare, ipsum eget iaculis pretium, tortor augue tempus lacus, ut imperdiet diam nibh eu sapien. Nam condimentum lorem turpis, eget ultricies arcu finibus non. Mauris tempus tincidunt risus, et pulvinar nisl accumsan
                eget. Fusce sit amet eros imperdiet, porttitor leo non, scelerisque neque.
            &lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;" %}
	</div>
</div>

<h2>Open from left</h2>
<div class="results">
	<div class="list-results">
		<div class="modal">
			<input type="checkbox" name="" id="openModal4" class="check-open-modal" />
			<label for="openModal4" class="btn btn-rectangle btn-primary">Open modal</label>
			<div class="modal-container from-left">
				<label for="openModal4" class="check-close-modal"><i class="icon icon-cross-solid"></i></label>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent elementum dui id tempus efficitur. Suspendisse eu pulvinar eros, vel faucibus quam. Maecenas tincidunt quam eu mattis placerat. Suspendisse ultricies consectetur ullamcorper. Vestibulum ornare, ipsum eget iaculis pretium, tortor augue tempus lacus, ut imperdiet diam nibh eu sapien. Nam condimentum lorem turpis, eget ultricies arcu finibus non. Mauris tempus tincidunt risus, et pulvinar nisl accumsan eget. Fusce
					sit amet eros imperdiet, porttitor leo non, scelerisque neque.
				</p>
			</div>
		</div>
	</div>
	<div class="code-result">
		{% include code_html.html content="&lt;div class=&quot;modal&quot;&gt;
    &lt;input type=&quot;checkbox&quot; name=&quot;&quot; id=&quot;openModal4&quot; class=&quot;check-open-modal&quot; /&gt;
    &lt;label for=&quot;openModal4&quot; class=&quot;btn btn-rectangle btn-primary&quot;&gt;Open modal&lt;/label&gt;
    &lt;div class=&quot;modal-container from-left&quot;&gt;
            &lt;label for=&quot;openModal4&quot; class=&quot;check-close-modal&quot;&gt;&lt;i class=&quot;icon icon-cross-solid&quot;&gt;&lt;/i&gt;&lt;/label&gt;
            &lt;p&gt;
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent elementum dui id tempus efficitur. Suspendisse eu pulvinar eros, vel faucibus quam. Maecenas tincidunt quam eu mattis placerat. Suspendisse ultricies consectetur ullamcorper. Vestibulum ornare, ipsum eget iaculis pretium, tortor augue tempus lacus, ut imperdiet diam nibh eu sapien. Nam condimentum lorem turpis, eget ultricies arcu finibus non. Mauris tempus tincidunt risus, et pulvinar nisl accumsan
                eget. Fusce sit amet eros imperdiet, porttitor leo non, scelerisque neque.
            &lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;" %}
	</div>
</div>

<h2>Open from right</h2>
<div class="results">
	<div class="list-results">
		<div class="modal">
			<input type="checkbox" name="" id="openModal5" class="check-open-modal" />
			<label for="openModal5" class="btn btn-rectangle btn-primary">Open modal</label>
			<div class="modal-container from-right">
				<label for="openModal5" class="check-close-modal"><i class="icon icon-cross-solid"></i></label>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent elementum dui id tempus efficitur. Suspendisse eu pulvinar eros, vel faucibus quam. Maecenas tincidunt quam eu mattis placerat. Suspendisse ultricies consectetur ullamcorper. Vestibulum ornare, ipsum eget iaculis pretium, tortor augue tempus lacus, ut imperdiet diam nibh eu sapien. Nam condimentum lorem turpis, eget ultricies arcu finibus non. Mauris tempus tincidunt risus, et pulvinar nisl accumsan eget. Fusce
					sit amet eros imperdiet, porttitor leo non, scelerisque neque.
				</p>
			</div>
		</div>
	</div>
	<div class="code-result">
		{% include code_html.html content="&lt;div class=&quot;modal&quot;&gt;
    &lt;input type=&quot;checkbox&quot; name=&quot;&quot; id=&quot;openModal5&quot; class=&quot;check-open-modal&quot; /&gt;
    &lt;label for=&quot;openModal5&quot; class=&quot;btn btn-rectangle btn-primary&quot;&gt;Open modal&lt;/label&gt;
    &lt;div class=&quot;modal-container from-right&quot;&gt;
            &lt;label for=&quot;openModal5&quot; class=&quot;check-close-modal&quot;&gt;&lt;i class=&quot;icon icon-cross-solid&quot;&gt;&lt;/i&gt;&lt;/label&gt;
            &lt;p&gt;
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent elementum dui id tempus efficitur. Suspendisse eu pulvinar eros, vel faucibus quam. Maecenas tincidunt quam eu mattis placerat. Suspendisse ultricies consectetur ullamcorper. Vestibulum ornare, ipsum eget iaculis pretium, tortor augue tempus lacus, ut imperdiet diam nibh eu sapien. Nam condimentum lorem turpis, eget ultricies arcu finibus non. Mauris tempus tincidunt risus, et pulvinar nisl accumsan
                eget. Fusce sit amet eros imperdiet, porttitor leo non, scelerisque neque.
            &lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;" %}
	</div>
</div>

<h2>Open from center</h2>
<div class="results">
	<div class="list-results">
		<div class="modal">
			<input type="checkbox" name="" id="openModal6" class="check-open-modal" />
			<label for="openModal6" class="btn btn-rectangle btn-primary">Open modal</label>
			<div class="modal-container from-middle">
				<label for="openModal6" class="check-close-modal"><i class="icon icon-cross-solid"></i></label>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent elementum dui id tempus efficitur. Suspendisse eu pulvinar eros, vel faucibus quam. Maecenas tincidunt quam eu mattis placerat. Suspendisse ultricies consectetur ullamcorper. Vestibulum ornare, ipsum eget iaculis pretium, tortor augue tempus lacus, ut imperdiet diam nibh eu sapien. Nam condimentum lorem turpis, eget ultricies arcu finibus non. Mauris tempus tincidunt risus, et pulvinar nisl accumsan eget. Fusce
					sit amet eros imperdiet, porttitor leo non, scelerisque neque.
				</p>
			</div>
		</div>
	</div>
	<div class="code-result">
		{% include code_html.html content="&lt;div class=&quot;modal&quot;&gt;
    &lt;input type=&quot;checkbox&quot; name=&quot;&quot; id=&quot;openModal6&quot; class=&quot;check-open-modal&quot; /&gt;
    &lt;label for=&quot;openModal6&quot; class=&quot;btn btn-rectangle btn-primary&quot;&gt;Open modal&lt;/label&gt;
    &lt;div class=&quot;modal-container from-middle&quot;&gt;
            &lt;label for=&quot;openModal6&quot; class=&quot;check-close-modal&quot;&gt;&lt;i class=&quot;icon icon-cross-solid&quot;&gt;&lt;/i&gt;&lt;/label&gt;
            &lt;p&gt;
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent elementum dui id tempus efficitur. Suspendisse eu pulvinar eros, vel faucibus quam. Maecenas tincidunt quam eu mattis placerat. Suspendisse ultricies consectetur ullamcorper. Vestibulum ornare, ipsum eget iaculis pretium, tortor augue tempus lacus, ut imperdiet diam nibh eu sapien. Nam condimentum lorem turpis, eget ultricies arcu finibus non. Mauris tempus tincidunt risus, et pulvinar nisl accumsan
                eget. Fusce sit amet eros imperdiet, porttitor leo non, scelerisque neque.
            &lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;" %}
	</div>
</div>

<h2>Modal with card</h2>
<div class="results">
	<div class="list-results">
		<div class="modal">
			<input type="checkbox" name="" id="openModal7" class="check-open-modal" />
			<label for="openModal7" class="btn btn-rectangle btn-primary">Open modal</label>
			<div class="modal-container no-anim">
				<label for="openModal7" class="check-close-modal"><i class="icon icon-cross-solid"></i></label>
				<div class="cards">
					<div class="cards-image" style="background: url(/assets/images/pic-card.jpg)"></div>
					<div class="cards-content">
						<h4><a href="#">Title</a></h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris semper… Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris semper</p>
						<a href="#" class="btn">Button</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="code-result">
		{% include code_html.html content="&lt;div class=&quot;modal&quot;&gt;
    &lt;input type=&quot;checkbox&quot; name=&quot;&quot; id=&quot;openModal7&quot; class=&quot;check-open-modal&quot; /&gt;
    &lt;label for=&quot;openModal7&quot; class=&quot;btn btn-rectangle btn-primary&quot;&gt;Open modal&lt;/label&gt;
    &lt;div class=&quot;modal-container no-anim&quot;&gt;
            &lt;label for=&quot;openModal7&quot; class=&quot;check-close-modal&quot;&gt;&lt;i class=&quot;icon icon-cross-solid&quot;&gt;&lt;/i&gt;&lt;/label&gt;
            &lt;div class=&quot;cards&quot;&gt;
                &lt;div class=&quot;cards-image&quot; style=&quot;background: url(/assets/images/pic-card.jpg)&quot;&gt;&lt;/div&gt;
                &lt;div class=&quot;cards-content&quot;&gt;
                    &lt;h4&gt;&lt;a href=&quot;#&quot;&gt;Title&lt;/a&gt;&lt;/h4&gt;
                    &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris semper… Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris semper&lt;/p&gt;
                    &lt;a href=&quot;#&quot; class=&quot;btn&quot;&gt;Button&lt;/a&gt;
                &lt;/div&gt;
            &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;" %}
	</div>
</div>

<h2>Modal with image portrait</h2>
<div class="results">
	<div class="list-results">
		<div class="modal">
			<input type="checkbox" name="" id="openModal8" class="check-open-modal" />
			<label for="openModal8" class="btn btn-rectangle btn-primary">Open modal</label>
			<div class="modal-container no-anim">
				<label for="openModal8" class="check-close-modal"><i class="icon icon-cross-solid"></i></label>
				<img src="/assets/images/modal-portrait.jpg" alt="" class="img-portrait" />
			</div>
		</div>
	</div>
	<div class="code-result">
		{% include code_html.html content="&lt;div class=&quot;modal&quot;&gt;
    &lt;input type=&quot;checkbox&quot; name=&quot;&quot; id=&quot;openModal8&quot; class=&quot;check-open-modal&quot; /&gt;
    &lt;label for=&quot;openModal8&quot; class=&quot;btn btn-rectangle btn-primary&quot;&gt;Open modal&lt;/label&gt;
    &lt;div class=&quot;modal-container no-anim&quot;&gt;
            &lt;label for=&quot;openModal8&quot; class=&quot;check-close-modal&quot;&gt;&lt;i class=&quot;icon icon-cross-solid&quot;&gt;&lt;/i&gt;&lt;/label&gt;
            &lt;img src=&quot;/assets/images/modal-portrait.jpg&quot; alt=&quot;&quot; class=&quot;img-portrait&quot; /&gt;
    &lt;/div&gt;
&lt;/div&gt;" %}
	</div>
</div>

<h2>Modal with image landscape</h2>
<div class="results">
	<div class="list-results">
		<div class="modal">
			<input type="checkbox" name="" id="openModal9" class="check-open-modal" />
			<label for="openModal9" class="btn btn-rectangle btn-primary">Open modal</label>
			<div class="modal-container no-anim">
				<label for="openModal9" class="check-close-modal"><i class="icon icon-cross-solid"></i></label>
				<img src="/assets/images/modal-landscape.jpg" alt="" class="img-landscape" />
			</div>
		</div>
	</div>
	<div class="code-result">
		{% include code_html.html content="&lt;div class=&quot;modal&quot;&gt;
    &lt;input type=&quot;checkbox&quot; name=&quot;&quot; id=&quot;openModal9&quot; class=&quot;check-open-modal&quot; /&gt;
    &lt;label for=&quot;openModal9&quot; class=&quot;btn btn-rectangle btn-primary&quot;&gt;Open modal&lt;/label&gt;
    &lt;div class=&quot;modal-container no-anim&quot;&gt;
            &lt;label for=&quot;openModal9&quot; class=&quot;check-close-modal&quot;&gt;&lt;i class=&quot;icon icon-cross-solid&quot;&gt;&lt;/i&gt;&lt;/label&gt;
            &lt;img src=&quot;/assets/images/modal-landscape.jpg&quot; alt=&quot;&quot; class=&quot;img-landscape&quot; /&gt;
    &lt;/div&gt;
&lt;/div&gt;" %}
	</div>
</div>
