---
layout: detail
title: Pagination
desc: Pagination for Fajny CSS
intro: Responsive pagination for your list pages. Can be useful not to load all your articles when using it in a blog.
file_include: components/pagination
additional-css: .results .list-results .pagination li{margin-right:5px}
---

<h2>Pagination Left</h2>
<div class="results">
	<div class="list-results">
		<div class="pagination-container pagination-left">
			<ul class="pagination">
				<li>
					<a href="#"><i class="icon icon-chevron-left-solid"></i></a>
				</li>
				<li class="active"><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">...</a></li>
				<li><a href="#">10</a></li>
				<li>
					<a href="#"><i class="icon icon-chevron-right-solid"></i></a>
				</li>
			</ul>
		</div>
	</div>
	<div class="code-result">
		{% include code_html.html content="&lt;div class=&quot;pagination-container pagination-left&quot;&gt;
    &lt;ul class=&quot;pagination&quot;&gt;
            &lt;li&gt;
                &lt;a href=&quot;#&quot;&gt;&lt;i class=&quot;icon icon-chevron-left-solid&quot;&gt;&lt;/i&gt;&lt;/a&gt;
            &lt;/li&gt;
            &lt;li class=&quot;active&quot;&gt;&lt;a href=&quot;#&quot;&gt;1&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;2&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;3&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;...&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;10&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;
                &lt;a href=&quot;#&quot;&gt;&lt;i class=&quot;icon icon-chevron-right-solid&quot;&gt;&lt;/i&gt;&lt;/a&gt;
            &lt;/li&gt;
    &lt;/ul&gt;
&lt;/div&gt;" %}
	</div>
</div>

<h2>Pagination Center</h2>
<div class="results">
	<div class="list-results">
		<div class="pagination-container pagination-center">
			<ul class="pagination">
				<li>
					<a href="#"><i class="icon icon-chevron-left-solid"></i></a>
				</li>
				<li class="active"><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">...</a></li>
				<li><a href="#">10</a></li>
				<li>
					<a href="#"><i class="icon icon-chevron-right-solid"></i></a>
				</li>
			</ul>
		</div>
	</div>
	<div class="code-result">
		{% include code_html.html content="&lt;div class=&quot;pagination-container pagination-center&quot;&gt;
    &lt;ul class=&quot;pagination&quot;&gt;
            &lt;li&gt;
                &lt;a href=&quot;#&quot;&gt;&lt;i class=&quot;icon icon-chevron-left-solid&quot;&gt;&lt;/i&gt;&lt;/a&gt;
            &lt;/li&gt;
            &lt;li class=&quot;active&quot;&gt;&lt;a href=&quot;#&quot;&gt;1&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;2&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;3&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;...&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;10&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;
                &lt;a href=&quot;#&quot;&gt;&lt;i class=&quot;icon icon-chevron-right-solid&quot;&gt;&lt;/i&gt;&lt;/a&gt;
            &lt;/li&gt;
    &lt;/ul&gt;
&lt;/div&gt;" %}
	</div>
</div>

<h2>Pagination Right</h2>
<div class="results">
	<div class="list-results">
		<div class="pagination-container pagination-right">
			<ul class="pagination">
				<li>
					<a href="#"><i class="icon icon-chevron-left-solid"></i></a>
				</li>
				<li class="active"><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">...</a></li>
				<li><a href="#">10</a></li>
				<li>
					<a href="#"><i class="icon icon-chevron-right-solid"></i></a>
				</li>
			</ul>
		</div>
	</div>
	<div class="code-result">
		{% include code_html.html content="&lt;div class=&quot;pagination-container pagination-right&quot;&gt;
    &lt;ul class=&quot;pagination&quot;&gt;
            &lt;li&gt;
                &lt;a href=&quot;#&quot;&gt;&lt;i class=&quot;icon icon-chevron-left-solid&quot;&gt;&lt;/i&gt;&lt;/a&gt;
            &lt;/li&gt;
            &lt;li class=&quot;active&quot;&gt;&lt;a href=&quot;#&quot;&gt;1&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;2&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;3&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;...&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;10&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;
                &lt;a href=&quot;#&quot;&gt;&lt;i class=&quot;icon icon-chevron-right-solid&quot;&gt;&lt;/i&gt;&lt;/a&gt;
            &lt;/li&gt;
    &lt;/ul&gt;
&lt;/div&gt;" %}
	</div>
</div>