---
layout: detail
title: Progress
desc: Progress bars for Fajny CSS
intro: Progress bars are a nice way to display informations. They exist in different colors, you would just have to change the color in the class. Like the circular charts values go from 5 to 100, with an increment of 5 each time.
file_include: components/progress
additional-css: .progress{margin-bottom:20px}
---

<h2>Normal</h2>
<div class="results">
	<div class="list-results">
		<div class="progress progress-primary progress-25"></div>
		<div class="progress progress-secondary progress-40"></div>
		<div class="progress progress-success progress-15"></div>
		<div class="progress progress-danger progress-60"></div>
		<div class="progress progress-warning progress-85"></div>
		<div class="progress progress-disabled progress-60"></div>
	</div>
	<div class="code-result">
		{% include code_html.html content="&lt;div class=&quot;progress progress-primary progress-25&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;progress progress-secondary progress-40&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;progress progress-success progress-15&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;progress progress-danger progress-60&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;progress progress-warning progress-85&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;progress progress-disabled progress-60&quot;&gt;&lt;/div&gt;" %}
	</div>
</div>

<h2>Animated</h2>
<div class="results">
	<div class="list-results">
		<div class="progress progress-primary progress-95 progress-anim-95"></div>
		<div class="progress progress-secondary progress-100 progress-anim-100"></div>
		<div class="progress progress-success progress-75 progress-anim-75"></div>
		<div class="progress progress-danger  progress-80 progress-anim-80"></div>
		<div class="progress progress-warning  progress-85 progress-anim-85"></div>
		<div class="progress progress-disabled  progress-90 progress-anim-90"></div>
	</div>
	<div class="code-result">
		{% include code_html.html content="&lt;div class=&quot;progress progress-primary progress-95 progress-anim-95&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;progress progress-secondary progress-100 progress-anim-100&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;progress progress-success progress-75 progress-anim-75&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;progress progress-danger  progress-80 progress-anim-80&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;progress progress-warning  progress-85 progress-anim-85&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;progress progress-disabled  progress-90 progress-anim-90&quot;&gt;&lt;/div&gt;" %}
	</div>
</div>
