---
layout: detail
title: Tables
desc: Tables for Fajny CSS
intro: Tables can be a good way to display informations to the user.
file_include: components/tables
additional-css:
---

<h2>Stripped tables</h2>
<div class="results">
	<div class="list-results">
		<table class="table-stripped">
			<thead>
				<tr>
					<td>#</td>
					<td>First Name</td>
					<td>Last Name</td>
					<td>Facebook</td>
					<td>Twitter</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td>Anna</td>
					<td>Fali</td>
					<td>Anna Fali</td>
					<td>@anna.fali</td>
				</tr>
				<tr>
					<td>2</td>
					<td>Niek</td>
					<td>Bove</td>
					<td>Niek Bove</td>
					<td>@niek.bove</td>
				</tr>
				<tr>
					<td>3</td>
					<td>Lacara</td>
					<td>Jones</td>
					<td>Lacara Jones</td>
					<td>@lacara.jones</td>
				</tr>
				<tr>
					<td>4</td>
					<td>Pablo</td>
					<td>Cambeiro</td>
					<td>Pablo Cambeiro</td>
					<td>@pablo.cambeiro</td>
				</tr>
				<tr>
					<td>5</td>
					<td>Irene</td>
					<td>Sotelo</td>
					<td>Irene Sotelo</td>
					<td>@irene.sotelo</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="code-result">
		{% include code_html.html content="&lt;table class=&quot;table-stripped&quot;&gt;
    &lt;thead&gt;
            &lt;tr&gt;
                &lt;td&gt;#&lt;/td&gt;
                &lt;td&gt;First Name&lt;/td&gt;
                &lt;td&gt;Last Name&lt;/td&gt;
                &lt;td&gt;Facebook&lt;/td&gt;
                &lt;td&gt;Twitter&lt;/td&gt;
            &lt;/tr&gt;
    &lt;/thead&gt;
    &lt;tbody&gt;
            &lt;tr&gt;
                &lt;td&gt;1&lt;/td&gt;
                &lt;td&gt;Anna&lt;/td&gt;
                &lt;td&gt;Fali&lt;/td&gt;
                &lt;td&gt;Anna Fali&lt;/td&gt;
                &lt;td&gt;@anna.fali&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
                &lt;td&gt;2&lt;/td&gt;
                &lt;td&gt;Niek&lt;/td&gt;
                &lt;td&gt;Bove&lt;/td&gt;
                &lt;td&gt;Niek Bove&lt;/td&gt;
                &lt;td&gt;@niek.bove&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
                &lt;td&gt;3&lt;/td&gt;
                &lt;td&gt;Lacara&lt;/td&gt;
                &lt;td&gt;Jones&lt;/td&gt;
                &lt;td&gt;Lacara Jones&lt;/td&gt;
                &lt;td&gt;@lacara.jones&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
                &lt;td&gt;4&lt;/td&gt;
                &lt;td&gt;Pablo&lt;/td&gt;
                &lt;td&gt;Cambeiro&lt;/td&gt;
                &lt;td&gt;Pablo Cambeiro&lt;/td&gt;
                &lt;td&gt;@pablo.cambeiro&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
                &lt;td&gt;5&lt;/td&gt;
                &lt;td&gt;Irene&lt;/td&gt;
                &lt;td&gt;Sotelo&lt;/td&gt;
                &lt;td&gt;Irene Sotelo&lt;/td&gt;
                &lt;td&gt;@irene.sotelo&lt;/td&gt;
            &lt;/tr&gt;
    &lt;/tbody&gt;
&lt;/table&gt;" %}
	</div>
</div>

<h2>Bordered tables</h2>
<div class="results">
	<div class="list-results">
		<table class="table-bordered">
			<thead>
				<tr>
					<td>#</td>
					<td>First Name</td>
					<td>Last Name</td>
					<td>Facebook</td>
					<td>Twitter</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td>Anna</td>
					<td>Fali</td>
					<td>Anna Fali</td>
					<td>@anna.fali</td>
				</tr>
				<tr>
					<td>2</td>
					<td>Niek</td>
					<td>Bove</td>
					<td>Niek Bove</td>
					<td>@niek.bove</td>
				</tr>
				<tr>
					<td>3</td>
					<td>Lacara</td>
					<td>Jones</td>
					<td>Lacara Jones</td>
					<td>@lacara.jones</td>
				</tr>
				<tr>
					<td>4</td>
					<td>Pablo</td>
					<td>Cambeiro</td>
					<td>Pablo Cambeiro</td>
					<td>@pablo.cambeiro</td>
				</tr>
				<tr>
					<td>5</td>
					<td>Irene</td>
					<td>Sotelo</td>
					<td>Irene Sotelo</td>
					<td>@irene.sotelo</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="code-result">
		{% include code_html.html content="&lt;table class=&quot;table-bordered&quot;&gt;
    &lt;thead&gt;
            &lt;tr&gt;
                &lt;td&gt;#&lt;/td&gt;
                &lt;td&gt;First Name&lt;/td&gt;
                &lt;td&gt;Last Name&lt;/td&gt;
                &lt;td&gt;Facebook&lt;/td&gt;
                &lt;td&gt;Twitter&lt;/td&gt;
            &lt;/tr&gt;
    &lt;/thead&gt;
    &lt;tbody&gt;
            &lt;tr&gt;
                &lt;td&gt;1&lt;/td&gt;
                &lt;td&gt;Anna&lt;/td&gt;
                &lt;td&gt;Fali&lt;/td&gt;
                &lt;td&gt;Anna Fali&lt;/td&gt;
                &lt;td&gt;@anna.fali&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
                &lt;td&gt;2&lt;/td&gt;
                &lt;td&gt;Niek&lt;/td&gt;
                &lt;td&gt;Bove&lt;/td&gt;
                &lt;td&gt;Niek Bove&lt;/td&gt;
                &lt;td&gt;@niek.bove&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
                &lt;td&gt;3&lt;/td&gt;
                &lt;td&gt;Lacara&lt;/td&gt;
                &lt;td&gt;Jones&lt;/td&gt;
                &lt;td&gt;Lacara Jones&lt;/td&gt;
                &lt;td&gt;@lacara.jones&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
                &lt;td&gt;4&lt;/td&gt;
                &lt;td&gt;Pablo&lt;/td&gt;
                &lt;td&gt;Cambeiro&lt;/td&gt;
                &lt;td&gt;Pablo Cambeiro&lt;/td&gt;
                &lt;td&gt;@pablo.cambeiro&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
                &lt;td&gt;5&lt;/td&gt;
                &lt;td&gt;Irene&lt;/td&gt;
                &lt;td&gt;Sotelo&lt;/td&gt;
                &lt;td&gt;Irene Sotelo&lt;/td&gt;
                &lt;td&gt;@irene.sotelo&lt;/td&gt;
            &lt;/tr&gt;
    &lt;/tbody&gt;
&lt;/table&gt;" %}
	</div>
</div>
