---
layout: detail
title: Tabs
desc: Tabs for Fajny CSS
intro: Add tabs to display only certain informations.
file_include: components/tabs
additional-css:
---

<h2>Align left</h2>
<div class="results">
	<div class="list-results">
		<div class="tabs tabs-left">
			<ul class="tablinks" role="tablist">
				<li class="active"><a role="tab">First tab</a></li>
				<li><a role="tab">Second tab</a></li>
				<li><a role="tab">Third tab</a></li>
			</ul>
		</div>
	</div>
	<div class="code-result">
		{% include code_html.html content="&lt;div class=&quot;tabs tabs-left&quot;&gt;
    &lt;ul class=&quot;tablinks&quot; role=&quot;tablist&quot;&gt;
            &lt;li class=&quot;active&quot;&gt;&lt;a role=&quot;tab&quot;&gt;First tab&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a role=&quot;tab&quot;&gt;Second tab&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a role=&quot;tab&quot;&gt;Third tab&lt;/a&gt;&lt;/li&gt;
    &lt;/ul&gt;
&lt;/div&gt;" %}
	</div>
</div>

<h2>Align center</h2>
<div class="results">
	<div class="list-results">
		<div class="tabs tabs-center">
			<ul class="tablinks" role="tablist">
				<li class="active"><a role="tab">First tab</a></li>
				<li><a role="tab">Second tab</a></li>
				<li><a role="tab">Third tab</a></li>
			</ul>
		</div>
	</div>
	<div class="code-result">
		{% include code_html.html content="&lt;div class=&quot;tabs tabs-center&quot;&gt;
    &lt;ul class=&quot;tablinks&quot; role=&quot;tablist&quot;&gt;
            &lt;li class=&quot;active&quot;&gt;&lt;a role=&quot;tab&quot;&gt;First tab&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a role=&quot;tab&quot;&gt;Second tab&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a role=&quot;tab&quot;&gt;Third tab&lt;/a&gt;&lt;/li&gt;
    &lt;/ul&gt;
&lt;/div&gt;" %}
	</div>
</div>

<h2>Align right</h2>
<div class="results">
	<div class="list-results">
		<div class="tabs tabs-right">
			<ul class="tablinks" role="tablist">
				<li class="active"><a role="tab">First tab</a></li>
				<li><a role="tab">Second tab</a></li>
				<li><a role="tab">Third tab</a></li>
			</ul>
		</div>
	</div>
	<div class="code-result">
		{% include code_html.html content="&lt;div class=&quot;tabs tabs-right&quot;&gt;
    &lt;ul class=&quot;tablinks&quot; role=&quot;tablist&quot;&gt;
            &lt;li class=&quot;active&quot;&gt;&lt;a role=&quot;tab&quot;&gt;First tab&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a role=&quot;tab&quot;&gt;Second tab&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a role=&quot;tab&quot;&gt;Third tab&lt;/a&gt;&lt;/li&gt;
    &lt;/ul&gt;
&lt;/div&gt;" %}
	</div>
</div>
